@use "variable" as *;
@use "mixins" as *;

.layout-wrapper {
  position: relative;
  display: flex;
  background-color: #f8f5f2;
}

.sidebar {
  min-width: 250px;
  height: $h-100;
  border-right: 2px solid $border-color;

  .sidebar-header {
    @include flex-center();
    height: 80px;

    .logo {
      @include flex-center();
      height: $h-100;
      border-bottom: 2px solid $border-color;

      img {
        width: 50px;
        height: 50px;
        margin: $mr-2;
      }

      h3 {
        margin: $mr-2;
      }
    }
  }

  .sidebar-menu {
    height: calc(100vh - 5rem);
    font-size: $fs-3;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $primary-color;
    }

    .sidebar-menu-item {
      margin: $mr-2 $mr-4;

      a {
        width: $w-100;
        padding: $pd-2;
        border-radius: 10px;
        @include flex-between();
        color: $text-secondary;
        text-transform: capitalize;
        @include transition($transition-normal, $ease-in-out, background-color, color);

        span {
          i {
            margin-right: $mr-2;
          }
        }

        i {
          @include transition($transition-normal, $ease-in-out, transform, opacity);
        }
      }

      &:hover > a {
        color: $text-light !important;
        background-color: $background-dark;
        @include transition($transition-fast, $ease-in-out, background-color, color);
      }

      .submenu {
        margin-left: $mr-4;
        border-left: 2px solid $border-color;

        .sidebar-menu-item {
          margin: $mr-2 0 $mr-2 $mr-2;

          &:hover a {
            color: $text-dark !important;
            background-color: $background-light;
            @include transition($transition-fast, $ease-in-out, background-color, color);
          }
        }
      }
    }
  }
}

.layout-content {
  flex: 1;
  height: $h-100;

  .header {
    @include flex-center();
    padding: 0 $pd-3;
    height: 80px;
    border-bottom: 2px solid $border-color;

    .header-logo {
      padding: $pd-2;

      .logo {
        img {
          width: 40px;
          height: 40px;
        }
      }

      button {
        @include flex-center();
        width: $w-100;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .header-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 $pd-2;
      min-width: 230px;
    }

    .header-center {
      flex: 1;
      @include flex-center();
      padding: 0 $pd-2;
      min-width: 250px;

      .search-form {
        position: relative;
        @include flex-center();
        width: $w-100;

        input {
          width: $w-100;
          border: none;
          border-radius: 8px !important;
          box-shadow: $shadow-sm;
        }

        button {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
          border: none;
          background-color: #ffffff;
          @include flex-center();

          img {
            width: 30px;
            height: 30px;
            @include transition($transition-normal, $ease-in-out, width, height);
          }

          &:hover img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }

    .header-right {
      @include flex-center();
      padding: 0 $pd-2;
      gap: $mr-2;

      img,
      #placeholder-for-image {
        width: 50px;
        height: 50px;
      }

      .header-controls {
        @include flex-center();
        gap: $mr-2;

        .notification {
          position: relative;

          .count {
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            font-size: $fs-1;
            font-weight: $fw-5;
            border-radius: 50%;
            @include flex-center();
            line-height: 1;
            background-color: red;
            color: white;
          }

          img {
            display: inline-block;
            transform-origin: top center;
            animation: shake-pause 2s infinite ease-in-out;
          }

          .notification-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:hover .notification-item-icon:before {
              transform: scale(1.1);
              @include transition($transition-fast, $ease-in-out, box-shadow, transform);
            }

            .notification-item-icon:before {
              @include flex-center();
              font-family: "Font Awesome\ 5 Free";
              font-weight: $fw-5;
              font-size: $fs-4;
              border-radius: 100px;
              width: 30px;
              height: 30px;
              margin: 0 $mr-2;
              @include transition($transition-fast, $ease-in-out, box-shadow, transform);
            }

            .notification-item-content {
              line-height: 25px;

              .notification-text {
                font-weight: $fw-4;
                color: $text-primary;
              }

              .notification-time {
                font-size: $fs-1;
                color: $text-secondary;
              }
            }
          }

          .notification-info {
            .notification-item-icon:before {
              content: "\f05a";
              color: $info-color;
              background-color: $info-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $info-color;
            }
          }

          .notification-primary {
            .notification-item-icon:before {
              content: "\f017";
              color: $primary-color;
              background-color: $primary-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $primary-color;
            }
          }

          .notification-secondary {
            .notification-item-icon:before {
              content: "\f017";
              color: $secondary-color;
              background-color: $secondary-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $secondary-color;
            }
          }

          .notification-warning {
            .notification-item-icon:before {
              content: "\f071";
              color: $warning-color;
              background-color: $warning-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $warning-color;
            }
          }

          .notification-danger {
            .notification-item-icon:before {
              content: "\f06a";
              color: $danger-color;
              background-color: $danger-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $danger-color;
            }
          }

          .notification-success {
            .notification-item-icon:before {
              content: "\f058";
              color: $success-color;
              background-color: $success-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $success-color;
            }
          }

          .notification-purple {
            .notification-item-icon:before {
              content: "\f058";
              color: $purple-color;
              background-color: $purple-light-color;
            }

            &:hover .notification-item-icon:before {
              box-shadow: 0 0 12px $purple-color;
            }
          }
        }

        .profile {
          position: relative;

          li:hover .profile-img img {
            transform: scale(1.05);
            box-shadow: 0 0 12px $danger-color;
            @include transition($transition-normal, $ease-in-out, box-shadow, transform);
          }

          img {
            display: inline-block;
            animation: pop-up 2s infinite ease-in-out;
          }

          .profile-basic {
            @include flex-center();

            .profile-img img {
              width: 100px;
              height: 100px;
              margin: $mr-1 $mr-3;
              border-radius: 50%;
              animation: none;
              @include transition($transition-normal, $ease-in-out, box-shadow, transform);
            }

            .profile-info {
              line-height: 40px;
              font-style: italic;
            }
          }
        }

        #logout {
          @include flex-between;

          div::first-letter {
            text-transform: uppercase;
          }
        }

        .setting {
          position: relative;

          img {
            display: inline-block;
            animation: rotate-gear 2s infinite ease-in-out;
          }
        }

        button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          @include flex-center();
          @include transition($transition-fast, $ease-in-out, transform);

          img {
            width: 30px;
            height: 30px;
            @include transition($transition-fast, $ease-in-out, transform);
          }

          &:hover {
            box-shadow: $shadow-md;
            transform: translateY(-5px);
          }
        }
      }

      .dark-mode {
        input {
          display: none;
        }

        .slider {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 48px;
          height: 20px;
          background-color: rgb(135, 150, 165);
          border-radius: 999px;
          position: relative;
          cursor: pointer;

          .circle {
            top: calc(calc((32px - 20px) / 2) * -1);
            left: 0;
            width: 32px;
            height: 32px;
            position: absolute;
            background-color: rgb(250, 160, 100);
            border-radius: inherit;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 1px 3px 0px rgba(0, 0, 0, 0.12);

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background: $background-dark;
              border-radius: inherit;
              transition: all 500ms;
              opacity: 0;
            }
          }
        }

        input:checked + .slider .circle {
          left: calc(100% - 32px);
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
          background-color: rgb(100, 120, 200);
        }

        input:active + .slider .circle::before {
          transition: 0s;
          opacity: 1;
          width: 0;
          height: 0;
        }
      }
    }
  }
}
