*::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 0.8571428571rem "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #f8f5f2;
  color: #6a6a6a;
}
body .header,
body .sidebar {
  background-color: #f8f5f2;
}
body .sidebar-menu-item a span,
body .breadcrumb-item {
  color: #6a6a6a;
}
body .breadcrumb-item::before {
  color: #6a6a6a !important;
}
body.dark-mode {
  background-color: #2f2f2f;
  color: #b0a695;
}
body.dark-mode .header,
body.dark-mode .sidebar {
  background-color: #2f2f2f;
}
body.dark-mode .sidebar-menu-item a span,
body.dark-mode .breadcrumb-item {
  color: #b0a695;
}
body.dark-mode .breadcrumb-item::before {
  color: #b0a695 !important;
}

a {
  text-decoration: none;
  color: #776b5d;
}
a:hover {
  color: #6a6a6a;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(119, 107, 93, 0.4);
}

table.table {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #776b5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #776b5d;
  font-weight: 800;
}

p {
  color: #6a6a6a;
}

.btn-icon {
  border: none;
  background: none;
}

.fold {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background: radial-gradient(100% 75% at 55%, rgba(227, 225, 217, 0.8) 0%, rgba(227, 225, 217, 0) 100%);
  box-shadow: 0 0 3px black;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: var(--round);
}
.fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  transform: rotate(45deg) translateX(0%) translateY(-18px);
  background-color: #e1dbcc;
  pointer-events: none;
}

.button {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.75rem;
  --background-dark: #585858;
  --text-light: #e3e1d9;
  --background-light: #e1dbcc;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
  outline: none;
}
.button::before, .button::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.button::before {
  --space: 1px;
  background: linear-gradient(177.95deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
}
.button::after {
  --space: 2px;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
}
.button:active {
  transform: scale(0.95);
}
.button:focus svg.icon {
  fill: white;
}
.button:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}
.button:hover svg.icon {
  fill: transparent;
  animation: dasharray 1s linear forwards, 0.1s linear forwards 0.95s;
}

.points-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.points-wrapper .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 9999px;
}
.points-wrapper .point:nth-child(1) {
  left: 4%;
  opacity: 0.8;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points-wrapper .point:nth-child(2) {
  left: 11%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points-wrapper .point:nth-child(3) {
  left: 18%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points-wrapper .point:nth-child(4) {
  left: 25%;
  opacity: 0.6;
  animation-duration: 2.05s;
  animation-delay: 0.4s;
}
.points-wrapper .point:nth-child(5) {
  left: 32%;
  opacity: 1;
  animation-duration: 1.9s;
  animation-delay: 0s;
}
.points-wrapper .point:nth-child(6) {
  left: 39%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points-wrapper .point:nth-child(7) {
  left: 46%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points-wrapper .point:nth-child(8) {
  left: 53%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points-wrapper .point:nth-child(9) {
  left: 60%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points-wrapper .point:nth-child(10) {
  left: 67%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.points-wrapper .point:nth-child(11) {
  left: 74%;
  opacity: 0.7;
  animation-duration: 2.1s;
  animation-delay: 0.4s;
}
.points-wrapper .point:nth-child(12) {
  left: 81%;
  opacity: 0.5;
  animation-duration: 1.8s;
  animation-delay: 1s;
}
.points-wrapper .point:nth-child(13) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}
.points-wrapper .point:nth-child(14) {
  left: 93%;
  opacity: 0.6;
  animation-duration: 2.7s;
  animation-delay: 0.1s;
}
.points-wrapper .point:nth-child(15) {
  left: 98%;
  opacity: 1;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}
.inner svg.icon {
  width: 20px;
  height: 20px;
  transition: fill 0.1s linear;
}

.button-outline {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.75rem;
  --text-light: #e3e1d9;
  --background-light: #e1dbcc;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
  outline: none;
}
.button-outline::before, .button-outline::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.button-outline::before {
  --space: 1px;
  border-radius: 5px;
  border: 1px solid #000;
  background: linear-gradient(177.95deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
}
.button-outline::after {
  --space: 2px;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
}
.button-outline:active {
  transform: scale(0.95);
}
.button-outline:focus svg.icon {
  fill: white;
}
.button-outline:hover {
  --background-dark: #585858;
  --background-light: #e1dbcc;
}
.button-outline:hover::before {
  border: none;
}
.button-outline:hover .inner-outline {
  color: #fff;
}
.button-outline:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}
.button-outline:hover .point {
  background-color: #fff;
}
.button-outline:hover svg.icon {
  fill: transparent;
  animation: dasharray 1s linear forwards, 0.1s linear forwards 0.95s;
}

.points-wrapper-outline {
  overflow: hidden;
  width: 95%;
  height: 90%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.points-wrapper-outline .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 9999px;
}
.points-wrapper-outline .point:nth-child(1) {
  left: 4%;
  opacity: 0.8;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points-wrapper-outline .point:nth-child(2) {
  left: 11%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points-wrapper-outline .point:nth-child(3) {
  left: 18%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points-wrapper-outline .point:nth-child(4) {
  left: 25%;
  opacity: 0.6;
  animation-duration: 2.05s;
  animation-delay: 0.4s;
}
.points-wrapper-outline .point:nth-child(5) {
  left: 32%;
  opacity: 1;
  animation-duration: 1.9s;
  animation-delay: 0s;
}
.points-wrapper-outline .point:nth-child(6) {
  left: 39%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points-wrapper-outline .point:nth-child(7) {
  left: 46%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points-wrapper-outline .point:nth-child(8) {
  left: 53%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points-wrapper-outline .point:nth-child(9) {
  left: 60%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points-wrapper-outline .point:nth-child(10) {
  left: 67%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.points-wrapper-outline .point:nth-child(11) {
  left: 74%;
  opacity: 0.7;
  animation-duration: 2.1s;
  animation-delay: 0.4s;
}
.points-wrapper-outline .point:nth-child(12) {
  left: 81%;
  opacity: 0.5;
  animation-duration: 1.8s;
  animation-delay: 1s;
}
.points-wrapper-outline .point:nth-child(13) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}
.points-wrapper-outline .point:nth-child(14) {
  left: 93%;
  opacity: 0.6;
  animation-duration: 2.7s;
  animation-delay: 0.1s;
}
.points-wrapper-outline .point:nth-child(15) {
  left: 98%;
  opacity: 1;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.inner-outline {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}
.inner-outline svg.icon {
  width: 20px;
  height: 20px;
  transition: fill 0.1s linear;
}

.form-control:focus,
.form-select:focus,
.form-check:focus,
.page-link:focus,
.form-check-input:focus {
  border: 1px solid #776b5d !important;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3) !important;
}

.form-check-input:checked {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  border: 1px solid #776b5d !important;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3) !important;
}

.offcanvas-start {
  max-width: 250px !important;
}

.page-item.active .page-link {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  border: 1px solid #c7c8cc !important;
}
.page-item .page-link {
  color: #776b5d !important;
}

thead {
  position: sticky !important;
  top: 0 !important;
  z-index: 10 !important;
  color: #776b5d !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
thead.sticky-active {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.table td {
  color: #6a6a6a !important;
}
.table td:hover {
  color: #6a6a6a !important;
  background-color: #edeef3 !important;
}

.carousel-inner {
  width: 200px !important;
}

.modal {
  z-index: 1160 !important;
}
.modal .modal-body {
  max-height: calc(100vh - 200px) !important;
  overflow-y: auto !important;
}

.position-fixed {
  z-index: 1160 !important;
}

.bg-primary {
  background-color: #776b5d !important;
}

.btn {
  color: #ffffff !important;
  border: none !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 100px !important;
  font-weight: 800;
}

.btn-primary {
  color: #6a6a6a !important;
  background-color: #b0a695 !important;
}
.btn-primary:hover {
  box-shadow: -4px 5px 5px #776b5d !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-success {
  color: #6a6a6a !important;
  background-color: #d4f8c4 !important;
}
.btn-success:hover {
  box-shadow: -4px 5px 5px #28a745 !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-danger {
  color: #6a6a6a !important;
  background-color: #f8d4d4 !important;
}
.btn-danger:hover {
  box-shadow: -4px 5px 5px #dc3545 !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-warning {
  color: #6a6a6a !important;
  background-color: #ffe5a8 !important;
}
.btn-warning:hover {
  box-shadow: -4px 5px 5px #f0bd00 !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-info {
  color: #6a6a6a !important;
  background-color: #c4e3f8 !important;
}
.btn-info:hover {
  box-shadow: -4px 5px 5px #3d7dcf !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-secondary {
  color: #6a6a6a !important;
  background-color: #b4b4b8 !important;
}
.btn-secondary:hover {
  box-shadow: -4px 5px 5px #6a6a6a !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-outline-primary {
  color: #776b5d !important;
  border: 1px solid #776b5d !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #b0a695 !important;
  border: 1px solid #776b5d !important;
}

.btn-outline-secondary {
  color: #6a6a6a !important;
}
.btn-outline-secondary:hover {
  color: #ffffff !important;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2) !important;
  padding: 0.75rem !important;
  background-color: #ffffff !important;
}

@keyframes pop-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake-pause {
  0%, 5% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(15deg);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(15deg);
  }
  35% {
    transform: rotateZ(-15deg);
  }
  40% {
    transform: rotateZ(15deg);
  }
  45% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes floating-points {
  0% {
    transform: translateY(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}
@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }
  to {
    stroke-dasharray: 68 68 0 0;
  }
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #f8f5f2;
  position: relative;
}
.login-wrapper .login-container,
.login-wrapper .forgot-container {
  position: absolute;
  width: 400px;
  transition: transform 0.6s ease, opacity 0.6s ease;
  backface-visibility: hidden;
}
.login-wrapper .login-container {
  z-index: 2;
  transform: rotateY(0deg);
}
.login-wrapper .forgot-container {
  z-index: 1;
  transform: rotateY(180deg);
  opacity: 0;
}
.login-wrapper.show-forgot .login-container {
  transform: rotateY(-180deg);
  opacity: 0;
}
.login-wrapper.show-forgot .forgot-container {
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 2;
}
.login-wrapper .login-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
