*::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 0.8571428571rem "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #f8f5f2;
  color: #6a6a6a;
}
body .header,
body .sidebar {
  background-color: #f8f5f2;
}
body .sidebar-menu-item a span,
body .breadcrumb-item {
  color: #6a6a6a;
}
body .breadcrumb-item::before {
  color: #6a6a6a !important;
}
body.dark-mode {
  background-color: #2f2f2f;
  color: #b0a695;
}
body.dark-mode .header,
body.dark-mode .sidebar {
  background-color: #2f2f2f;
}
body.dark-mode .sidebar-menu-item a span,
body.dark-mode .breadcrumb-item {
  color: #b0a695;
}
body.dark-mode .breadcrumb-item::before {
  color: #b0a695 !important;
}

a {
  text-decoration: none;
  color: #776b5d;
}
a:hover {
  color: #6a6a6a;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(119, 107, 93, 0.4);
}

table.table {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #776b5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #776b5d;
  font-weight: 800;
}

p {
  color: #6a6a6a;
}

.btn-icon {
  border: none;
  background: none;
}

.fold {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background: radial-gradient(100% 75% at 55%, rgba(227, 225, 217, 0.8) 0%, rgba(227, 225, 217, 0) 100%);
  box-shadow: 0 0 3px black;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: var(--round);
}
.fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  transform: rotate(45deg) translateX(0%) translateY(-18px);
  background-color: #e1dbcc;
  pointer-events: none;
}

.button {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.75rem;
  --background-dark: #585858;
  --text-light: #e3e1d9;
  --background-light: #e1dbcc;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
  outline: none;
}
.button::before, .button::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.button::before {
  --space: 1px;
  background: linear-gradient(177.95deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
}
.button::after {
  --space: 2px;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
}
.button:active {
  transform: scale(0.95);
}
.button:focus svg.icon {
  fill: white;
}
.button:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}
.button:hover svg.icon {
  fill: transparent;
  animation: dasharray 1s linear forwards, 0.1s linear forwards 0.95s;
}

.points-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.points-wrapper .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 9999px;
}
.points-wrapper .point:nth-child(1) {
  left: 4%;
  opacity: 0.8;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points-wrapper .point:nth-child(2) {
  left: 11%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points-wrapper .point:nth-child(3) {
  left: 18%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points-wrapper .point:nth-child(4) {
  left: 25%;
  opacity: 0.6;
  animation-duration: 2.05s;
  animation-delay: 0.4s;
}
.points-wrapper .point:nth-child(5) {
  left: 32%;
  opacity: 1;
  animation-duration: 1.9s;
  animation-delay: 0s;
}
.points-wrapper .point:nth-child(6) {
  left: 39%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points-wrapper .point:nth-child(7) {
  left: 46%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points-wrapper .point:nth-child(8) {
  left: 53%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points-wrapper .point:nth-child(9) {
  left: 60%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points-wrapper .point:nth-child(10) {
  left: 67%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.points-wrapper .point:nth-child(11) {
  left: 74%;
  opacity: 0.7;
  animation-duration: 2.1s;
  animation-delay: 0.4s;
}
.points-wrapper .point:nth-child(12) {
  left: 81%;
  opacity: 0.5;
  animation-duration: 1.8s;
  animation-delay: 1s;
}
.points-wrapper .point:nth-child(13) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}
.points-wrapper .point:nth-child(14) {
  left: 93%;
  opacity: 0.6;
  animation-duration: 2.7s;
  animation-delay: 0.1s;
}
.points-wrapper .point:nth-child(15) {
  left: 98%;
  opacity: 1;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}
.inner svg.icon {
  width: 20px;
  height: 20px;
  transition: fill 0.1s linear;
}

.button-outline {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.75rem;
  --text-light: #e3e1d9;
  --background-light: #e1dbcc;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
  outline: none;
}
.button-outline::before, .button-outline::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.button-outline::before {
  --space: 1px;
  border-radius: 5px;
  border: 1px solid #000;
  background: linear-gradient(177.95deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
}
.button-outline::after {
  --space: 2px;
  background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, var(--background-dark), var(--background-dark));
}
.button-outline:active {
  transform: scale(0.95);
}
.button-outline:focus svg.icon {
  fill: white;
}
.button-outline:hover {
  --background-dark: #585858;
  --background-light: #e1dbcc;
}
.button-outline:hover::before {
  border: none;
}
.button-outline:hover .inner-outline {
  color: #fff;
}
.button-outline:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}
.button-outline:hover .point {
  background-color: #fff;
}
.button-outline:hover svg.icon {
  fill: transparent;
  animation: dasharray 1s linear forwards, 0.1s linear forwards 0.95s;
}

.points-wrapper-outline {
  overflow: hidden;
  width: 95%;
  height: 90%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.points-wrapper-outline .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 9999px;
}
.points-wrapper-outline .point:nth-child(1) {
  left: 4%;
  opacity: 0.8;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points-wrapper-outline .point:nth-child(2) {
  left: 11%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points-wrapper-outline .point:nth-child(3) {
  left: 18%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points-wrapper-outline .point:nth-child(4) {
  left: 25%;
  opacity: 0.6;
  animation-duration: 2.05s;
  animation-delay: 0.4s;
}
.points-wrapper-outline .point:nth-child(5) {
  left: 32%;
  opacity: 1;
  animation-duration: 1.9s;
  animation-delay: 0s;
}
.points-wrapper-outline .point:nth-child(6) {
  left: 39%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points-wrapper-outline .point:nth-child(7) {
  left: 46%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points-wrapper-outline .point:nth-child(8) {
  left: 53%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points-wrapper-outline .point:nth-child(9) {
  left: 60%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points-wrapper-outline .point:nth-child(10) {
  left: 67%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.points-wrapper-outline .point:nth-child(11) {
  left: 74%;
  opacity: 0.7;
  animation-duration: 2.1s;
  animation-delay: 0.4s;
}
.points-wrapper-outline .point:nth-child(12) {
  left: 81%;
  opacity: 0.5;
  animation-duration: 1.8s;
  animation-delay: 1s;
}
.points-wrapper-outline .point:nth-child(13) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}
.points-wrapper-outline .point:nth-child(14) {
  left: 93%;
  opacity: 0.6;
  animation-duration: 2.7s;
  animation-delay: 0.1s;
}
.points-wrapper-outline .point:nth-child(15) {
  left: 98%;
  opacity: 1;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.inner-outline {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}
.inner-outline svg.icon {
  width: 20px;
  height: 20px;
  transition: fill 0.1s linear;
}

@keyframes pop-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake-pause {
  0%, 5% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(15deg);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(15deg);
  }
  35% {
    transform: rotateZ(-15deg);
  }
  40% {
    transform: rotateZ(15deg);
  }
  45% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes floating-points {
  0% {
    transform: translateY(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}
@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }
  to {
    stroke-dasharray: 68 68 0 0;
  }
}
.layout-wrapper {
  position: relative;
  display: flex;
}

.sidebar {
  min-width: 250px;
  height: 100%;
  border-right: 2px solid #c7c8cc;
  z-index: 1040;
}
.sidebar .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.sidebar .sidebar-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #c7c8cc;
}
.sidebar .sidebar-header .logo img {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}
.sidebar .sidebar-header .logo h3 {
  margin: 0.5rem;
}
.sidebar .sidebar-menu,
.sidebar .sidebar-menu-offcanvas {
  height: calc(100vh - 5rem);
  font-size: 1rem;
  overflow-y: auto;
}
.sidebar .sidebar-menu::-webkit-scrollbar,
.sidebar .sidebar-menu-offcanvas::-webkit-scrollbar {
  width: 5px;
}
.sidebar .sidebar-menu::-webkit-scrollbar-thumb,
.sidebar .sidebar-menu-offcanvas::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.sidebar .sidebar-menu .sidebar-menu-item,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item {
  margin: 0.5rem;
}
.sidebar .sidebar-menu .sidebar-menu-item a,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item a {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6a6a6a;
  text-transform: capitalize;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu .sidebar-menu-item a span,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item a span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebar-menu .sidebar-menu-item a span i,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item a span i {
  margin-right: 0.5rem;
  height: 25px;
  width: 25px;
  background-color: #585858;
  border-radius: 50%;
  color: #e3e1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu .sidebar-menu-item a i,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item a i {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu .sidebar-menu-item:hover > a,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item:hover > a {
  background-color: #585858;
}
.sidebar .sidebar-menu .sidebar-menu-item:hover > a span,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item:hover > a span {
  color: #e3e1d9 !important;
}
.sidebar .sidebar-menu .sidebar-menu-item:hover > a span i,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item:hover > a span i {
  color: #585858;
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item:hover > a .fa-plus, .sidebar .sidebar-menu .sidebar-menu-item:hover > a .fa-minus,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item:hover > a .fa-plus,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item:hover > a .fa-minus {
  color: #e3e1d9 !important;
}
.sidebar .sidebar-menu .sidebar-menu-item.active > a,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item.active > a {
  background-color: #585858;
}
.sidebar .sidebar-menu .sidebar-menu-item.active > a span,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item.active > a span {
  color: #e3e1d9 !important;
}
.sidebar .sidebar-menu .sidebar-menu-item.active > a span i,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item.active > a span i {
  color: #585858;
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item.active > a .fa-plus, .sidebar .sidebar-menu .sidebar-menu-item.active > a .fa-minus,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item.active > a .fa-plus,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item.active > a .fa-minus {
  color: #e3e1d9 !important;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu {
  margin-left: 1rem;
  border-left: 2px solid #c7c8cc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item:hover > a,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item:hover > a {
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item:hover > a span,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item:hover > a span {
  color: #585858 !important;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item:hover > a span i,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item:hover > a span i {
  color: #6a6a6a;
  background-color: #edeef3;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item.active > a,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item.active > a {
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item.active > a span,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item.active > a span {
  color: #585858 !important;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item.active > a span i,
.sidebar .sidebar-menu-offcanvas .sidebar-menu-item .submenu .sidebar-menu-item.active > a span i {
  color: #6a6a6a;
  background-color: #edeef3;
}

.layout-content {
  flex: 1 1 auto;
  height: 100vh;
  overflow: auto;
}
.layout-content .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  height: 80px;
  border-bottom: 2px solid #c7c8cc;
  position: fixed;
  width: calc(100% - 250px);
  z-index: 1040;
}
.layout-content .header .header-logo {
  padding: 0.5rem;
}
.layout-content .header .header-logo .logo img {
  width: 45px;
  height: 45px;
}
.layout-content .header .header-logo button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.layout-content .header .header-logo button:focus {
  box-shadow: none;
}
.layout-content .header .header-logo button img {
  width: 25px;
  height: 25px;
}
.layout-content .header .header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0.5rem;
  min-width: 230px;
}
.layout-content .header .header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-width: 220px;
}
.layout-content .header .header-center .search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.layout-content .header .header-center .search-form input {
  width: 100%;
  border: none;
  border-radius: 8px !important;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2);
}
.layout-content .header .header-center .search-form button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-content .header .header-center .search-form button img {
  width: 25px;
  height: 25px;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-center .search-form button:hover img {
  width: 35px;
  height: 35px;
}
.layout-content .header .header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}
.layout-content .header .header-right img,
.layout-content .header .header-right #placeholder-for-image {
  width: 50px;
  height: 50px;
}
.layout-content .header .header-right .header-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.layout-content .header .header-right .header-controls .notification {
  position: relative;
}
.layout-content .header .header-right .header-controls .notification .count {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  font-size: 0.75rem;
  font-weight: 800;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background-color: red;
  color: white;
}
.layout-content .header .header-right .header-controls .notification img {
  display: inline-block;
  transform-origin: top center;
  animation: shake-pause 2s infinite ease-in-out;
}
.layout-content .header .header-right .header-controls .notification .notification-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.layout-content .header .header-right .header-controls .notification .notification-item:hover .notification-item-icon:before {
  transform: scale(1.1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-icon:before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-content {
  line-height: 25px;
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-content .notification-text {
  font-weight: 600;
  color: #776b5d;
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-content .notification-time {
  font-size: 0.75rem;
  color: #6a6a6a;
}
.layout-content .header .header-right .header-controls .notification .notification-info .notification-item-icon:before {
  content: "\f05a";
  color: #3d7dcf;
  background-color: #c4e3f8;
}
.layout-content .header .header-right .header-controls .notification .notification-info:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #3d7dcf;
}
.layout-content .header .header-right .header-controls .notification .notification-primary .notification-item-icon:before {
  content: "\f017";
  color: #776b5d;
  background-color: #b0a695;
}
.layout-content .header .header-right .header-controls .notification .notification-primary:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #776b5d;
}
.layout-content .header .header-right .header-controls .notification .notification-secondary .notification-item-icon:before {
  content: "\f017";
  color: #6a6a6a;
  background-color: #b4b4b8;
}
.layout-content .header .header-right .header-controls .notification .notification-secondary:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #6a6a6a;
}
.layout-content .header .header-right .header-controls .notification .notification-warning .notification-item-icon:before {
  content: "\f071";
  color: #f0bd00;
  background-color: #ffe5a8;
}
.layout-content .header .header-right .header-controls .notification .notification-warning:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #f0bd00;
}
.layout-content .header .header-right .header-controls .notification .notification-danger .notification-item-icon:before {
  content: "\f06a";
  color: #dc3545;
  background-color: #f8d4d4;
}
.layout-content .header .header-right .header-controls .notification .notification-danger:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #dc3545;
}
.layout-content .header .header-right .header-controls .notification .notification-success .notification-item-icon:before {
  content: "\f058";
  color: #28a745;
  background-color: #d4f8c4;
}
.layout-content .header .header-right .header-controls .notification .notification-success:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #28a745;
}
.layout-content .header .header-right .header-controls .notification .notification-purple .notification-item-icon:before {
  content: "\f058";
  color: #8a2be2;
  background-color: #e0c3fc;
}
.layout-content .header .header-right .header-controls .notification .notification-purple:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #8a2be2;
}
.layout-content .header .header-right .header-controls .profile {
  position: relative;
}
.layout-content .header .header-right .header-controls .profile li:hover .profile-img img {
  transform: scale(1.05);
  box-shadow: 0 0 12px #dc3545;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .profile img {
  display: inline-block;
  animation: pop-up 2s infinite ease-in-out;
}
.layout-content .header .header-right .header-controls .profile .profile-basic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-content .header .header-right .header-controls .profile .profile-basic .profile-img img {
  width: 100px;
  height: 100px;
  margin: 0.25rem 0.75rem;
  border-radius: 50%;
  animation: none;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .profile .profile-basic .profile-info {
  line-height: 40px;
  font-style: italic;
}
.layout-content .header .header-right .header-controls #logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-content .header .header-right .header-controls .setting {
  position: relative;
}
.layout-content .header .header-right .header-controls .setting img {
  display: inline-block;
  animation: rotate-gear 2s infinite ease-in-out;
}
.layout-content .header .header-right .header-controls button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls button img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls button:hover {
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3);
  transform: translateY(-5px);
}
.layout-content .header .header-right .toggle-mode input {
  display: none;
}
.layout-content .header .header-right .toggle-mode .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 15px;
  background-color: rgb(135, 150, 165);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}
.layout-content .header .header-right .toggle-mode .slider .circle {
  top: -7.5px;
  left: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgb(250, 160, 100);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.layout-content .header .header-right .toggle-mode .slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #585858;
  border-radius: inherit;
  transition: all 500ms;
  opacity: 0;
}
.layout-content .header .header-right .toggle-mode input:checked + .slider .circle {
  left: calc(100% - 30px);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-color: rgb(100, 120, 200);
}
.layout-content .header .header-right .toggle-mode input:active + .slider .circle::before {
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
.layout-content .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1020;
  background-color: rgba(199, 200, 204, 0.4392156863);
}

@media (min-height: 615px) and (max-height: 715px) {
  .table-wrapper {
    height: 79% !important;
  }
}
@media (min-height: 415px) and (max-height: 615px) {
  .table-wrapper {
    max-height: 74% !important;
  }
}
@media (max-height: 415px) {
  .table-wrapper {
    max-height: 69% !important;
  }
}
@media (max-width: 989px) {
  .header {
    width: 100% !important;
  }
}
.form-control:focus,
.form-select:focus,
.form-check:focus,
.page-link:focus,
.form-check-input:focus {
  border: 1px solid #776b5d !important;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3) !important;
}

.form-check-input:checked {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  border: 1px solid #776b5d !important;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3) !important;
}

.offcanvas-start {
  max-width: 250px !important;
}

.page-item.active .page-link {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  border: 1px solid #c7c8cc !important;
}
.page-item .page-link {
  color: #776b5d !important;
}

thead {
  position: sticky !important;
  top: 0 !important;
  z-index: 10 !important;
  color: #776b5d !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
thead.sticky-active {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.table td {
  color: #6a6a6a !important;
}
.table td:hover {
  color: #6a6a6a !important;
  background-color: #edeef3 !important;
}

.carousel-inner {
  width: 200px !important;
}

.modal {
  z-index: 1160 !important;
}
.modal .modal-body {
  max-height: calc(100vh - 200px) !important;
  overflow-y: auto !important;
}

.position-fixed {
  z-index: 1160 !important;
}

.bg-primary {
  background-color: #776b5d !important;
}

.btn {
  color: #ffffff !important;
  border: none !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 100px !important;
  font-weight: 800;
}

.btn-primary {
  color: #6a6a6a !important;
  background-color: #b0a695 !important;
}
.btn-primary:hover {
  box-shadow: -4px 5px 5px #776b5d !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-success {
  color: #6a6a6a !important;
  background-color: #d4f8c4 !important;
}
.btn-success:hover {
  box-shadow: -4px 5px 5px #28a745 !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-danger {
  color: #6a6a6a !important;
  background-color: #f8d4d4 !important;
}
.btn-danger:hover {
  box-shadow: -4px 5px 5px #dc3545 !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-warning {
  color: #6a6a6a !important;
  background-color: #ffe5a8 !important;
}
.btn-warning:hover {
  box-shadow: -4px 5px 5px #f0bd00 !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-info {
  color: #6a6a6a !important;
  background-color: #c4e3f8 !important;
}
.btn-info:hover {
  box-shadow: -4px 5px 5px #3d7dcf !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-secondary {
  color: #6a6a6a !important;
  background-color: #b4b4b8 !important;
}
.btn-secondary:hover {
  box-shadow: -4px 5px 5px #6a6a6a !important;
  transform: translateY(-2px) translateX(2px) !important;
}

.btn-outline-primary {
  color: #776b5d !important;
  border: 1px solid #776b5d !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #b0a695 !important;
  border: 1px solid #776b5d !important;
}

.btn-outline-secondary {
  color: #6a6a6a !important;
}
.btn-outline-secondary:hover {
  color: #ffffff !important;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2) !important;
  padding: 0.75rem !important;
  background-color: #ffffff !important;
}

.main {
  height: 100%;
  position: relative;
  margin-top: 80px;
}
.main .main-wrapper {
  height: calc(100% - 80px);
  padding: 0.5rem;
}
.main .main-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .main-container {
  margin: 0.5rem;
  height: 100%;
}
.main .main-wrapper .main-container .filter-panel {
  max-height: 220px;
  margin-bottom: 0.75rem;
}
.main .main-wrapper .main-container .filter-panel .filter-actions {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.main .main-wrapper .main-container .filter-panel .filter-actions #refresh-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.main .main-wrapper .main-container .filter-panel .filter-actions #is-delete {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.main .main-wrapper .main-container .filter-panel #filter-inputs {
  overflow-x: hidden;
  margin-top: 0.5rem;
}
.main .main-wrapper .main-container .filter-panel #filter-inputs::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper .main-container .filter-panel #filter-inputs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .main-container .table-wrapper {
  height: 84%;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body {
  height: 100%;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-wrapper-main, .main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-wrapper-secondary {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-container {
  flex: 1;
  margin-bottom: 0.5rem;
  overflow: auto;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-container .group-header {
  display: flex;
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #776b5d;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .table-container .highlight {
  background-color: #b0a695;
}
.main .main-wrapper .main-container .table-wrapper .table-wrapper-body .pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-wrapper .main-container .ck-editor {
  display: block;
}
.main .main-wrapper .main-container .ck-editor .ck-editor__editable {
  min-height: 500px;
}
.main .main-wrapper .dashboard-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  margin: 0.5rem;
}
.main .main-wrapper .dashboard-container .dashboard-banner {
  grid-column: span 8/span 8;
  grid-row: span 2/span 2;
  grid-column-start: 0;
  grid-row-start: 0;
  min-width: 585px;
}
.main .main-wrapper .dashboard-container .dashboard-banner .dashboard-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-wrapper .dashboard-container .dashboard-banner .dashboard-banner-container img {
  height: 150px;
}
.main .main-wrapper .dashboard-container .quick-statistics-container {
  min-height: 150px;
}
.main .main-wrapper .dashboard-container .change-up {
  color: #28a745;
}
.main .main-wrapper .dashboard-container .change-down {
  color: #dc3545;
}
.main .main-wrapper .dashboard-container .value {
  color: #6a6a6a;
  font-size: 1.25rem;
  font-weight: 800;
}
.main .main-wrapper .dashboard-container .quick-statistics-img1,
.main .main-wrapper .dashboard-container .quick-statistics-img2,
.main .main-wrapper .dashboard-container .quick-statistics-img3,
.main .main-wrapper .dashboard-container .quick-statistics-img4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.main .main-wrapper .dashboard-container .quick-statistics-img1 img,
.main .main-wrapper .dashboard-container .quick-statistics-img2 img,
.main .main-wrapper .dashboard-container .quick-statistics-img3 img,
.main .main-wrapper .dashboard-container .quick-statistics-img4 img {
  width: 40px;
  height: 40px;
}
.main .main-wrapper .dashboard-container .quick-statistics1,
.main .main-wrapper .dashboard-container .quick-statistics2,
.main .main-wrapper .dashboard-container .quick-statistics3,
.main .main-wrapper .dashboard-container .quick-statistics4 {
  min-width: 150px;
}
.main .main-wrapper .dashboard-container .quick-statistics1 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 9;
  grid-row-start: 0;
}
.main .main-wrapper .dashboard-container .quick-statistics1 .quick-statistics-img1 {
  background-color: #d4f8c4;
}
.main .main-wrapper .dashboard-container .quick-statistics2 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 11;
  grid-row-start: 0;
}
.main .main-wrapper .dashboard-container .quick-statistics2 .quick-statistics-img2 {
  background-color: #ffe5a8;
}
.main .main-wrapper .dashboard-container .quick-statistics3 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 9;
  grid-row-start: 3;
}
.main .main-wrapper .dashboard-container .quick-statistics3 .quick-statistics-img3 {
  background-color: #f8d4d4;
}
.main .main-wrapper .dashboard-container .quick-statistics4 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 11;
  grid-row-start: 3;
}
.main .main-wrapper .dashboard-container .quick-statistics4 .quick-statistics-img4 {
  background-color: #c4e3f8;
}
.main .main-wrapper .dashboard-container .chart {
  overflow-x: hidden;
}
.main .main-wrapper .dashboard-container .chart::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper .dashboard-container .chart::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .dashboard-container .dashboard-chart-column {
  grid-column: span 8/span 8;
  grid-row: span 4/span 4;
  grid-column-start: 1;
  grid-row-start: 3;
}
.main .main-wrapper .dashboard-container .dashboard-chart-line {
  grid-column: span 4/span 4;
  grid-row: span 2/span 2;
  grid-column-start: 9;
  grid-row-start: 5;
}
.main .main-wrapper .dashboard-container .dashboard-chart-donut {
  grid-column: span 4/span 4;
  grid-row: span 6/span 6;
  grid-column-start: 0;
  grid-row-start: 7;
}
.main .main-wrapper .dashboard-container .dashboard-chart-radar {
  grid-column: span 4/span 4;
  grid-row: span 6/span 6;
  grid-column-start: 5;
  grid-row-start: 7;
}
.main .main-wrapper .dashboard-container .service {
  grid-column: span 4/span 4;
  grid-row: span 6/span 6;
  grid-column-start: 9;
  grid-row-start: 7;
  max-height: 450px;
}
.main .main-wrapper .dashboard-container .service .service-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow: auto;
}
.main .main-wrapper .dashboard-container .service .service-container .service-item {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  color: #6a6a6a;
  font-weight: 800;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.main .main-wrapper .dashboard-container .service .service-container .service-item i {
  margin-right: 10px;
  font-size: 20px;
}
.main .main-wrapper .dashboard-container .service .service-container .service-item:hover {
  padding: 0.75rem;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2);
}
.main .main-wrapper .dashboard-container .dashboard-chart-funnel {
  grid-column: span 6/span 6;
  grid-row: span 12/span 12;
  grid-column-start: 1;
  grid-row-start: 13;
}
.main .main-wrapper .dashboard-container .dashboard-chart-slope {
  grid-column: span 6/span 6;
  grid-row: span 12/span 12;
  grid-column-start: 7;
  grid-row-start: 13;
}
.main .main-wrapper .calendar-content {
  margin: 0.5rem;
}
.main .main-wrapper .calendar-content .fc-button {
  text-transform: capitalize;
}
.main .main-wrapper .calendar-content .fc-button-primary {
  background-color: #776b5d;
  border: none;
}
.main .main-wrapper .calendar-content .fc-day {
  color: #6a6a6a;
}
.main .main-wrapper .calendar-content .fc-day:hover {
  color: #6a6a6a;
  background-color: #edeef3;
}
.main .main-wrapper .calendar-content .fc-day-today {
  color: #6a6a6a;
  background-color: #ffe5a8;
}
.main .main-wrapper .calendar-content .fc-h-event {
  border: none;
  border-left: 5px solid #3d7dcf;
}
.main .main-wrapper .calendar-content .fc-h-event .fc-event-main {
  color: #585858 !important;
  background-color: #c4e3f8;
}
