*::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 0.8571428571rem "Inter", "Manrope", "SF Pro Display", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #776b5d;
}
a:hover {
  color: #6a6a6a;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(119, 107, 93, 0.4);
}

table.table {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #776b5d;
}

p {
  color: #6a6a6a;
}

.btn-icon {
  border: none;
  background: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2);
  padding: 0.75rem;
  background-color: #ffffff;
}

.btn {
  color: #ffffff !important;
  border: none;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 100px;
}

.btn-primary {
  color: #6a6a6a !important;
  background-color: #b0a695 !important;
}
.btn-primary:hover {
  box-shadow: -4px 5px 5px #776b5d !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-success {
  color: #6a6a6a !important;
  background-color: #d4f8c4 !important;
}
.btn-success:hover {
  box-shadow: -4px 5px 5px #28a745 !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-danger {
  color: #6a6a6a !important;
  background-color: #f8d4d4 !important;
}
.btn-danger:hover {
  box-shadow: -4px 5px 5px #dc3545 !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-warning {
  color: #6a6a6a !important;
  background-color: #ffe5a8 !important;
}
.btn-warning:hover {
  box-shadow: -4px 5px 5px #f0bd00 !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-info {
  color: #6a6a6a !important;
  background-color: #c4e3f8 !important;
}
.btn-info:hover {
  box-shadow: -4px 5px 5px #3d7dcf !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-secondary {
  color: #6a6a6a !important;
  background-color: #b4b4b8 !important;
}
.btn-secondary:hover {
  box-shadow: -4px 5px 5px #6a6a6a !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-outline-secondary {
  color: #6a6a6a !important;
}
.btn-outline-secondary:hover {
  color: #ffffff !important;
}

.btn-outline-primary {
  color: #776b5d !important;
  border: 1px solid #776b5d !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #b0a695 !important;
  border: 1px solid #776b5d !important;
}

@keyframes pop-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake-pause {
  0%, 5% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(15deg);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(15deg);
  }
  35% {
    transform: rotateZ(-15deg);
  }
  40% {
    transform: rotateZ(15deg);
  }
  45% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.layout-wrapper {
  position: relative;
  display: flex;
  background-color: #f8f5f2;
}

.sidebar {
  min-width: 250px;
  height: 100%;
  border-right: 2px solid #c7c8cc;
}
.sidebar .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.sidebar .sidebar-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #c7c8cc;
}
.sidebar .sidebar-header .logo img {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}
.sidebar .sidebar-header .logo h3 {
  margin: 0.5rem;
}
.sidebar .sidebar-menu {
  height: calc(100vh - 5rem);
  font-size: 1rem;
  overflow-y: auto;
}
.sidebar .sidebar-menu::-webkit-scrollbar {
  width: 5px;
}
.sidebar .sidebar-menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.sidebar .sidebar-menu .sidebar-menu-item {
  margin: 0.5rem;
}
.sidebar .sidebar-menu .sidebar-menu-item a {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6a6a6a;
  text-transform: capitalize;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu .sidebar-menu-item a span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebar-menu .sidebar-menu-item a span i {
  margin-right: 0.5rem;
  height: 25px;
  width: 25px;
  background-color: #585858;
  border-radius: 50%;
  color: #e3e1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu .sidebar-menu-item a i {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu .sidebar-menu-item:hover > a {
  color: #e3e1d9 !important;
  background-color: #585858;
}
.sidebar .sidebar-menu .sidebar-menu-item:hover > a span i {
  color: #585858;
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item.active > a {
  color: #e3e1d9 !important;
  background-color: #585858;
}
.sidebar .sidebar-menu .sidebar-menu-item.active > a span i {
  color: #585858;
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu {
  margin-left: 1rem;
  border-left: 2px solid #c7c8cc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item:hover > a {
  color: #585858 !important;
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item:hover > a span i {
  color: #6a6a6a;
  background-color: #edeef3;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item.active > a {
  color: #585858 !important;
  background-color: #e1dbcc;
}
.sidebar .sidebar-menu .sidebar-menu-item .submenu .sidebar-menu-item.active > a span i {
  color: #6a6a6a;
  background-color: #edeef3;
}

.layout-content {
  flex: 1 1 auto;
  height: 100vh;
  overflow: auto;
}
.layout-content .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  height: 80px;
  border-bottom: 2px solid #c7c8cc;
  position: fixed;
  width: calc(100% - 250px);
  z-index: 1040;
  background-color: #f8f5f2;
}
.layout-content .header .header-logo {
  padding: 0.5rem;
}
.layout-content .header .header-logo .logo img {
  width: 45px;
  height: 45px;
}
.layout-content .header .header-logo button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.layout-content .header .header-logo button:focus {
  box-shadow: none;
}
.layout-content .header .header-logo button img {
  width: 25px;
  height: 25px;
}
.layout-content .header .header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0.5rem;
  min-width: 230px;
}
.layout-content .header .header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-width: 220px;
}
.layout-content .header .header-center .search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.layout-content .header .header-center .search-form input {
  width: 100%;
  border: none;
  border-radius: 8px !important;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2);
}
.layout-content .header .header-center .search-form button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-content .header .header-center .search-form button img {
  width: 30px;
  height: 30px;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-center .search-form button:hover img {
  width: 35px;
  height: 35px;
}
.layout-content .header .header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}
.layout-content .header .header-right img,
.layout-content .header .header-right #placeholder-for-image {
  width: 50px;
  height: 50px;
}
.layout-content .header .header-right .header-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.layout-content .header .header-right .header-controls .notification {
  position: relative;
}
.layout-content .header .header-right .header-controls .notification .count {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  font-size: 0.75rem;
  font-weight: 800;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background-color: red;
  color: white;
}
.layout-content .header .header-right .header-controls .notification img {
  display: inline-block;
  transform-origin: top center;
  animation: shake-pause 2s infinite ease-in-out;
}
.layout-content .header .header-right .header-controls .notification .notification-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.layout-content .header .header-right .header-controls .notification .notification-item:hover .notification-item-icon:before {
  transform: scale(1.1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-icon:before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-content {
  line-height: 25px;
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-content .notification-text {
  font-weight: 600;
  color: #776b5d;
}
.layout-content .header .header-right .header-controls .notification .notification-item .notification-item-content .notification-time {
  font-size: 0.75rem;
  color: #6a6a6a;
}
.layout-content .header .header-right .header-controls .notification .notification-info .notification-item-icon:before {
  content: "\f05a";
  color: #3d7dcf;
  background-color: #c4e3f8;
}
.layout-content .header .header-right .header-controls .notification .notification-info:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #3d7dcf;
}
.layout-content .header .header-right .header-controls .notification .notification-primary .notification-item-icon:before {
  content: "\f017";
  color: #776b5d;
  background-color: #b0a695;
}
.layout-content .header .header-right .header-controls .notification .notification-primary:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #776b5d;
}
.layout-content .header .header-right .header-controls .notification .notification-secondary .notification-item-icon:before {
  content: "\f017";
  color: #6a6a6a;
  background-color: #b4b4b8;
}
.layout-content .header .header-right .header-controls .notification .notification-secondary:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #6a6a6a;
}
.layout-content .header .header-right .header-controls .notification .notification-warning .notification-item-icon:before {
  content: "\f071";
  color: #f0bd00;
  background-color: #ffe5a8;
}
.layout-content .header .header-right .header-controls .notification .notification-warning:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #f0bd00;
}
.layout-content .header .header-right .header-controls .notification .notification-danger .notification-item-icon:before {
  content: "\f06a";
  color: #dc3545;
  background-color: #f8d4d4;
}
.layout-content .header .header-right .header-controls .notification .notification-danger:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #dc3545;
}
.layout-content .header .header-right .header-controls .notification .notification-success .notification-item-icon:before {
  content: "\f058";
  color: #28a745;
  background-color: #d4f8c4;
}
.layout-content .header .header-right .header-controls .notification .notification-success:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #28a745;
}
.layout-content .header .header-right .header-controls .notification .notification-purple .notification-item-icon:before {
  content: "\f058";
  color: #8a2be2;
  background-color: #e0c3fc;
}
.layout-content .header .header-right .header-controls .notification .notification-purple:hover .notification-item-icon:before {
  box-shadow: 0 0 12px #8a2be2;
}
.layout-content .header .header-right .header-controls .profile {
  position: relative;
}
.layout-content .header .header-right .header-controls .profile li:hover .profile-img img {
  transform: scale(1.05);
  box-shadow: 0 0 12px #dc3545;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .profile img {
  display: inline-block;
  animation: pop-up 2s infinite ease-in-out;
}
.layout-content .header .header-right .header-controls .profile .profile-basic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-content .header .header-right .header-controls .profile .profile-basic .profile-img img {
  width: 100px;
  height: 100px;
  margin: 0.25rem 0.75rem;
  border-radius: 50%;
  animation: none;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls .profile .profile-basic .profile-info {
  line-height: 40px;
  font-style: italic;
}
.layout-content .header .header-right .header-controls #logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-content .header .header-right .header-controls .setting {
  position: relative;
}
.layout-content .header .header-right .header-controls .setting img {
  display: inline-block;
  animation: rotate-gear 2s infinite ease-in-out;
}
.layout-content .header .header-right .header-controls button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls button img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content .header .header-right .header-controls button:hover {
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3);
  transform: translateY(-5px);
}
.layout-content .header .header-right .dark-mode input {
  display: none;
}
.layout-content .header .header-right .dark-mode .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 15px;
  background-color: rgb(135, 150, 165);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}
.layout-content .header .header-right .dark-mode .slider .circle {
  top: -7.5px;
  left: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgb(250, 160, 100);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.layout-content .header .header-right .dark-mode .slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #585858;
  border-radius: inherit;
  transition: all 500ms;
  opacity: 0;
}
.layout-content .header .header-right .dark-mode input:checked + .slider .circle {
  left: calc(100% - 30px);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-color: rgb(100, 120, 200);
}
.layout-content .header .header-right .dark-mode input:active + .slider .circle::before {
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

@media (min-height: 615px) and (max-height: 715px) {
  .table-wrapper {
    height: 79% !important;
  }
}
@media (min-height: 415px) and (max-height: 615px) {
  .table-wrapper {
    max-height: 74% !important;
  }
}
@media (max-height: 415px) {
  .table-wrapper {
    max-height: 69% !important;
  }
}
@media (max-width: 989px) {
  .header {
    width: 100% !important;
  }
}
.form-control:focus,
.form-select:focus,
.form-check:focus,
.page-link:focus,
.form-check-input:focus {
  border: 1px solid #776b5d !important;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3) !important;
}

.form-check-input:checked {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  border: 1px solid #776b5d !important;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3) !important;
}

.offcanvas-start {
  max-width: 250px !important;
}

.page-item.active .page-link {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  border: 1px solid #c7c8cc !important;
}
.page-item .page-link {
  color: #776b5d !important;
}

thead {
  position: sticky !important;
  top: 0 !important;
  z-index: 10 !important;
  color: #776b5d !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
thead.sticky-active {
  background-color: #585858 !important;
  color: #e3e1d9 !important;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.table td {
  color: #6a6a6a !important;
}
.table td:hover {
  color: #6a6a6a !important;
  background-color: #edeef3 !important;
}

.carousel-inner {
  width: 200px;
}

.modal {
  z-index: 1160 !important;
}
.modal .modal-body {
  max-height: calc(100vh - 200px) !important;
  overflow-y: auto !important;
}

.position-fixed {
  z-index: 1160 !important;
}

.bg-primary {
  background-color: #776b5d !important;
}

.main {
  height: 100%;
  position: relative;
  margin-top: 80px;
}
.main .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1020;
  background-color: rgba(199, 200, 204, 0.4392156863);
}
.main .main-wrapper {
  height: calc(100% - 80px);
  padding: 0.5rem;
}
.main .main-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .main-container {
  margin: 0.5rem;
  height: 100%;
}
.main .main-wrapper .main-container .filter-panel {
  max-height: 220px;
  margin-bottom: 0.75rem;
}
.main .main-wrapper .main-container .filter-panel .filter-actions {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.main .main-wrapper .main-container .filter-panel .filter-actions #refresh-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.main .main-wrapper .main-container .filter-panel .filter-inputs {
  overflow-x: hidden;
  margin-top: 0.5rem;
}
.main .main-wrapper .main-container .filter-panel .filter-inputs::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper .main-container .filter-panel .filter-inputs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .main-container .table-wrapper {
  display: flex;
  flex-direction: column;
  height: 84%;
}
.main .main-wrapper .main-container .table-wrapper .table-container {
  flex: 1;
  margin-bottom: 0.5rem;
  overflow: auto;
}
.main .main-wrapper .main-container .table-wrapper .table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper .main-container .table-wrapper .table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .main-container .table-wrapper .table-container .group-header {
  display: flex;
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #776b5d;
}
.main .main-wrapper .main-container .table-wrapper .pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-wrapper .dashboard-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  margin: 0.5rem;
}
.main .main-wrapper .dashboard-container .dashboard-banner {
  grid-column: span 8/span 8;
  grid-row: span 2/span 2;
  grid-column-start: 0;
  grid-row-start: 0;
  min-width: 585px;
}
.main .main-wrapper .dashboard-container .dashboard-banner .dashboard-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-wrapper .dashboard-container .dashboard-banner .dashboard-banner-container img {
  height: 150px;
}
.main .main-wrapper .dashboard-container .quick-statistics-container {
  min-height: 150px;
}
.main .main-wrapper .dashboard-container .change-up {
  color: #28a745;
}
.main .main-wrapper .dashboard-container .change-down {
  color: #dc3545;
}
.main .main-wrapper .dashboard-container .value {
  color: #6a6a6a;
  font-size: 1.25rem;
  font-weight: 800;
}
.main .main-wrapper .dashboard-container .quick-statistics-img1,
.main .main-wrapper .dashboard-container .quick-statistics-img2,
.main .main-wrapper .dashboard-container .quick-statistics-img3,
.main .main-wrapper .dashboard-container .quick-statistics-img4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.main .main-wrapper .dashboard-container .quick-statistics-img1 img,
.main .main-wrapper .dashboard-container .quick-statistics-img2 img,
.main .main-wrapper .dashboard-container .quick-statistics-img3 img,
.main .main-wrapper .dashboard-container .quick-statistics-img4 img {
  width: 40px;
  height: 40px;
}
.main .main-wrapper .dashboard-container .quick-statistics1,
.main .main-wrapper .dashboard-container .quick-statistics2,
.main .main-wrapper .dashboard-container .quick-statistics3,
.main .main-wrapper .dashboard-container .quick-statistics4 {
  min-width: 150px;
}
.main .main-wrapper .dashboard-container .quick-statistics1 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 9;
  grid-row-start: 0;
}
.main .main-wrapper .dashboard-container .quick-statistics1 .quick-statistics-img1 {
  background-color: #d4f8c4;
}
.main .main-wrapper .dashboard-container .quick-statistics2 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 11;
  grid-row-start: 0;
}
.main .main-wrapper .dashboard-container .quick-statistics2 .quick-statistics-img2 {
  background-color: #ffe5a8;
}
.main .main-wrapper .dashboard-container .quick-statistics3 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 9;
  grid-row-start: 3;
}
.main .main-wrapper .dashboard-container .quick-statistics3 .quick-statistics-img3 {
  background-color: #f8d4d4;
}
.main .main-wrapper .dashboard-container .quick-statistics4 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 11;
  grid-row-start: 3;
}
.main .main-wrapper .dashboard-container .quick-statistics4 .quick-statistics-img4 {
  background-color: #c4e3f8;
}
.main .main-wrapper .dashboard-container .chart {
  overflow-x: hidden;
}
.main .main-wrapper .dashboard-container .chart::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main .main-wrapper .dashboard-container .chart::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}
.main .main-wrapper .dashboard-container .dashboard-chart-donut-container,
.main .main-wrapper .dashboard-container .dashboard-chart-radar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main .main-wrapper .dashboard-container .dashboard-chart-column {
  grid-column: span 8/span 8;
  grid-row: span 4/span 4;
  grid-column-start: 1;
  grid-row-start: 3;
}
.main .main-wrapper .dashboard-container .dashboard-chart-line {
  grid-column: span 4/span 4;
  grid-row: span 2/span 2;
  grid-column-start: 9;
  grid-row-start: 5;
}
.main .main-wrapper .dashboard-container .dashboard-chart-donut {
  grid-column: span 4/span 4;
  grid-row: span 6/span 6;
  grid-column-start: 0;
  grid-row-start: 7;
  max-height: 450px;
}
.main .main-wrapper .dashboard-container .dashboard-chart-radar {
  grid-column: span 4/span 4;
  grid-row: span 6/span 6;
  grid-column-start: 5;
  grid-row-start: 7;
  max-height: 450px;
}
.main .main-wrapper .dashboard-container .new-user {
  grid-column: span 4/span 4;
  grid-row: span 6/span 6;
  grid-column-start: 9;
  grid-row-start: 7;
  max-height: 450px;
}
.main .main-wrapper .dashboard-container .new-user .new-user-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow: auto;
}
.main .main-wrapper .dashboard-container .new-user .new-user-container .new-user-item {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  color: #6a6a6a;
  font-weight: 800;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.main .main-wrapper .dashboard-container .new-user .new-user-container .new-user-item i {
  margin-right: 10px;
  font-size: 20px;
}
.main .main-wrapper .dashboard-container .new-user .new-user-container .new-user-item:hover {
  padding: 0.75rem;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2);
}
.main .main-wrapper .calendar-content {
  margin: 0.5rem;
}
.main .main-wrapper .calendar-content .fc-button {
  text-transform: capitalize;
}
.main .main-wrapper .calendar-content .fc-button-primary {
  background-color: #776b5d;
  border: none;
}
.main .main-wrapper .calendar-content .fc-day {
  color: #6a6a6a;
}
.main .main-wrapper .calendar-content .fc-day:hover {
  color: #6a6a6a;
  background-color: #edeef3;
}
.main .main-wrapper .calendar-content .fc-day-today {
  color: #6a6a6a;
  background-color: #ffe5a8;
}
.main .main-wrapper .calendar-content .fc-h-event {
  border: none;
  border-left: 5px solid #3d7dcf;
}
.main .main-wrapper .calendar-content .fc-h-event .fc-event-main {
  color: #585858 !important;
  background-color: #c4e3f8;
}
