*::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #776b5d;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 0.8571428571rem "Inter", "Manrope", "SF Pro Display", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #776b5d;
}
a:hover {
  color: #6a6a6a;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(119, 107, 93, 0.4);
}

table.table {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #776b5d;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
label::first-letter {
  text-transform: uppercase;
}

p {
  color: #6a6a6a;
}

.capitalize::first-letter {
  text-transform: uppercase;
}

.btn-icon {
  border: none;
  background: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(119, 107, 93, 0.2);
  padding: 0.75rem;
  background-color: #ffffff;
}

.btn {
  color: #ffffff !important;
  border: none;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 100px;
}
.btn::first-letter {
  text-transform: uppercase;
}

.btn-primary {
  color: #6a6a6a !important;
  background-color: #b0a695 !important;
}
.btn-primary:hover {
  box-shadow: -4px 5px 5px #776b5d !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-success {
  color: #6a6a6a !important;
  background-color: #d4f8c4 !important;
}
.btn-success:hover {
  box-shadow: -4px 5px 5px #28a745 !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-danger {
  color: #6a6a6a !important;
  background-color: #f8d4d4 !important;
}
.btn-danger:hover {
  box-shadow: -4px 5px 5px #dc3545 !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-warning {
  color: #6a6a6a !important;
  background-color: #ffe5a8 !important;
}
.btn-warning:hover {
  box-shadow: -4px 5px 5px #f0bd00 !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-info {
  color: #6a6a6a !important;
  background-color: #c4e3f8 !important;
}
.btn-info:hover {
  box-shadow: -4px 5px 5px #3d7dcf !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-secondary {
  color: #6a6a6a !important;
  background-color: #b4b4b8 !important;
}
.btn-secondary:hover {
  box-shadow: -4px 5px 5px #6a6a6a !important;
  transform: translateY(-2px) translateX(2px);
}

.btn-outline-secondary {
  color: #6a6a6a !important;
}
.btn-outline-secondary:hover {
  color: #ffffff !important;
}

.form-control:focus,
.form-select:focus,
.form-check:focus,
.page-link:focus,
.form-check-input:focus {
  border: 1px solid #776b5d;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3);
}

.form-check-input:checked {
  background-color: #585858;
  color: #e3e1d9;
  border: 1px solid #776b5d;
  box-shadow: 0 4px 12px rgba(119, 107, 93, 0.3);
}

.offcanvas-start {
  max-width: 250px;
}

.page-item.active .page-link {
  background-color: #585858;
  color: #e3e1d9;
  border: 1px solid #c7c8cc;
}
.page-item .page-link {
  color: #776b5d;
}

thead {
  position: sticky;
  top: 0;
  z-index: 10;
  color: #776b5d;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
thead.sticky-active {
  background-color: #585858;
  color: #e3e1d9;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
thead th::first-letter {
  text-transform: uppercase;
}

.table td {
  color: #6a6a6a;
}
.table td:hover {
  color: #6a6a6a;
  background-color: #edeef3;
}

.carousel-inner {
  width: 200px;
}

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

@keyframes pop-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake-pause {
  0%, 5% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(15deg);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(15deg);
  }
  35% {
    transform: rotateZ(-15deg);
  }
  40% {
    transform: rotateZ(15deg);
  }
  45% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #f8f5f2;
  position: relative;
}
.login-wrapper .login-container,
.login-wrapper .forgot-container {
  position: absolute;
  width: 400px;
  transition: transform 0.6s ease, opacity 0.6s ease;
  backface-visibility: hidden;
}
.login-wrapper .login-container {
  z-index: 2;
  transform: rotateY(0deg);
}
.login-wrapper .forgot-container {
  z-index: 1;
  transform: rotateY(180deg);
  opacity: 0;
}
.login-wrapper.show-forgot .login-container {
  transform: rotateY(-180deg);
  opacity: 0;
}
.login-wrapper.show-forgot .forgot-container {
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 2;
}
.login-wrapper .login-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=login.css.map */