@using NextERP.ModelBase
@using NextERP.Util
@{
    string showClass = Model;
}

<div id="search-component" hidden data-show-class="@showClass"></div>

<div class="collapse" id="filter-inputs">
    <form class="m-2">
        <div class="row g-2 mb-2">
            <div class="col-3 d-none">
                <label for="filter-name" class="col-form-label col-md-6" localize-content>SearchCode</label>
                <input type="text" class="form-control form-control-sm" placeholder="" id="filter-name" />
            </div>

            <div class="col-3 d-none">
                <label for="floating-select" class="col-form-label col-md-6" localize-content>SearchStatus</label>
                <select class="form-select form-select-sm" id="floating-select">
                    <option selected>mở menu chọn này</option>
                    <option value="1">một</option>
                    <option value="2">hai</option>
                    <option value="3">ba</option>
                </select>
            </div>

            <div class="col-3 d-none">
                <label for="date-from" class="col-form-label col-md-6" localize-content>SearchDateFrom</label>
                <input type="datetime-local" class="form-control form-control-sm" id="date-from" />
            </div>

            <div class="col-3 d-none">
                <label for="date-to" class="col-form-label col-md-6" localize-content>SearchDateTo</label>
                <input type="datetime-local" class="form-control form-control-sm" id="date-to" />
            </div>
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-info" id="search-button" localize-content>Search</button>
            <button type="button" class="btn btn-secondary" id="clear-button" localize-content>Clear</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        const showClass = $("#search-component").data("show-class");
        const selectors = showClass.split(',');

        selectors.forEach(function (selector) {
            $(selector.trim()).closest("div").removeClass("d-none");
        });
    });
</script>
