@using NextERP.ModelBase
@using static NextERP.Util.Enums
@model NextERP.ModelBase.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next ERP | Đăng nhập</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/css/apexcharts/apexcharts.min.css" />
    <link rel="stylesheet" href="~/lib/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="login-wrapper" id="loginWrapper">
        <!--& LOGIN -->
        <form class="card login-container needs-validation" asp-action="AccountIndex" asp-controller="Account" novalidate>
            <input type="hidden" asp-for="GroupRole" value="Admin" />

            <h2 class="text-center" localize-content>Account</h2>
            <div class="login-form">
                <div class="mb-2">
                    <label for="user-name" class="col-form-label col-md-6" localize-content>Username</label>
                    <div class="col-md-12">
                        <input class="form-control form-control-sm" id="user-name" type="text" asp-for="Username" required />
                        <div class="invalid-feedback" localize-content>InvalidUsername</div>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="password" class="col-form-label col-md-6" localize-content>Password</label>
                    <div class="col-md-12">
                        <input class="form-control form-control-sm" id="password" type="password" asp-for="Password" required minlength="6" />
                        <div class="invalid-feedback" localize-content>InvalidPassword</div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center my-3">
                    <div class="form-check">
                        <input class="form-check-input" id="rememberMe" type="checkbox" asp-for="Remember" />
                        <label class="form-check-label" for="rememberMe" localize-content>RememberMe</label>
                    </div>
                    <a href="#" id="forgot-password" localize-content>ForgotPassword</a>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" localize-content>Login</button>
                </div>
            </div>
        </form>

        <!--& FORGOT PASSWORD -->
        <form class="card forgot-container needs-validation" asp-action="AccountIndex" asp-controller="Account" novalidate>
            <h2 class="text-center" localize-content>ForgotPassword</h2>
            <div class="forgot-form">
                <div class="mb-2">
                    <label for="new-password" class="col-form-label" localize-content>NewPassword</label>
                    <input class="form-control form-control-sm" id="new-password" type="password" asp-for="Password" required minlength="6" />
                    <div class="invalid-feedback" localize-content>InvalidNewPassword</div>
                </div>

                <div class="mb-2">
                    <label for="forgot-phone" class="col-form-label" localize-content>phone number registered</label>
                    <input class="form-control form-control-sm" id="forgot-phone" type="text" asp-for="PhoneNumber" required minlength="10" />
                    <div class="invalid-feedback" localize-content>InvalidPhoneNumberRegistered</div>
                </div>

                <div class="my-3 text-center">
                    <button type="button" onclick="alert('Chức năng chưa làm nào rảnh rồi làm sau')" class="btn btn-primary" localize-content>SentOTP</button>
                </div>
                <div class="text-center">
                    <a href="#" id="back-login" localize-content>BackLogin</a>
                </div>
            </div>
        </form>
    </div>

    <script src="~/lib/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js/bootstrap/popper.min.js"></script>
    <script src="~/lib/js/jquery/jquery.min.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/helper.js"></script>
</body>
</html>
