@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "sass:color";
@use "variable" as *;
@use "mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    @include transition($transition-duration-base, $ease-in-out);
    @include scrollbar();
    font-family: $font-monospace;
    overflow-x: hidden;
    background-color: var(--body-bg);
    color: var(--body-color);
    font-weight: $font-weight-3;
    font-size: $font-size-2;
    word-spacing: -2px;
}

a {
    text-decoration: none;
    color: inherit; //* Phần tử con kế thừa màu chữ từ phần tử cha.
}

ul,
ol {
    list-style: none;
}

table.table {
    white-space: nowrap; //*Ngăn ngắt dòng, giữ văn bản trên một hàng duy nhất.
}

button:focus {
    outline: none;
    box-shadow: $shadow-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-5;
}
