@use "variable" as *;

* {
    &::after,
    &::before {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $primary-color;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font: $fw-3 $fs-5/ $lh-4 $font-sans-serif;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: $light-mode-bg;
    color: $light-mode-text;

    .header,
    .sidebar {
        background-color: $light-mode-bg;
    }

    .sidebar-menu-item a span,
    .breadcrumb-item {
        color: $light-mode-text;
    }

    .breadcrumb-item::before {
        color: $light-mode-text !important;
    }

    &.dark-mode {
        background-color: $dark-mode-bg;
        color: $dark-mode-text;

        .header,
        .sidebar {
            background-color: $dark-mode-bg;
        }

        .sidebar-menu-item a span,
        .breadcrumb-item {
            color: $dark-mode-text;
        }

        .breadcrumb-item::before {
            color: $dark-mode-text !important;
        }
    }
}

a {
    text-decoration: none;
    color: $text-primary;

    &:hover {
        color: $text-secondary;
    }
}

ul,
ol {
    list-style: none;
    padding: 0;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba($primary-color, 0.4);
}

table.table {
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $text-primary;
}

p {
    color: $text-secondary;
}
