@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "sass:color";
@use "variable" as *;
@use "mixins" as *;

.tippy-box[data-theme~="custom-dark"] {
    background-color: $color-level-100-dark !important;
    color: $color-level-100-light !important;
    border-radius: $radius-sm;
    padding: $padding-1;
    box-shadow: $shadow-sm;
}

.btn-loading-state {
    position: relative !important;
    color: $color-mid-warm;
    pointer-events: none;

    &::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: calc(50% - 0.5rem) !important;
        left: calc(50% - 0.5rem) !important;
        border: 0.15em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        display: inline-block;
        vertical-align: text-bottom;
        animation: spinner-border .75s linear infinite;
        z-index: 2;
    }
}

.fold {
    @include transition($transition-duration-slow, $ease-in-out);
    z-index: $z-index-high;
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    background: radial-gradient(100% 75% at 55%, rgba(227, 225, 217, 0.8) 0%, rgba(227, 225, 217, 0) 100%);
    box-shadow: 0 0 3px $color-level-100-dark;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.75rem;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 150%;
        height: 150%;
        transform: rotate(45deg) translateX(0%) translateY(-18px);
        background-color: #e1dbcc;
        pointer-events: none;
    }
}

.button,
.button-outline {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: none;

    &::before,
    &::after {
        @include transition($transition-duration-slow, $ease-in-out);
        content: "";
        position: absolute;
        inset: var(--space);
        z-index: $z-index-base;
    }

    &:active {
        transform: scale(0.95);
    }

    &:focus svg.icon {
        fill: $color-level-100-light;
    }

    &:hover {
        .fold {
            margin-top: -$margin-4;
            margin-right: -$margin-4;
        }

        svg.icon {
            fill: transparent;
            animation: dasharray 1s linear forwards, 0.1s linear forwards 0.95s;
        }
    }
}

.button {
    background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, #585858, #585858);

    &::before {
        --space: 1px;
        background: linear-gradient(177.95deg, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
        --space: 2px;
        background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, #585858, #585858);
    }
}

.button-outline {
    &::before {
        --space: 0px;
        border-radius: $radius-sm;
        border: 1px solid #585858;
    }

    &::after {
        --space: 2px;
    }

    &:hover {
        background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, #585858, #585858);

        &::before {
            border: none;
        }

        &::after {
            background: radial-gradient(65.28% 65.28% at 50% 100%, rgba(227, 225, 217, 0.6) 0%, rgba(227, 225, 217, 0) 100%), linear-gradient(0deg, #585858, #585858);
        }

        .inner-outline {
            @include transition($transition-duration-base, $ease-in-out);
            color: $color-level-100-light;
        }

        .point {
            background-color: $color-level-100-light;
        }
    }
}

.points-wrapper,
.points-wrapper-outline {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: $z-index-high;

    .point {
        @include float-points-config;
        bottom: -10px;
        position: absolute;
        animation: floating-points infinite ease-in-out;
        pointer-events: none;
        width: 3px;
        height: 3px;
        border-radius: $radius-full;
    }
}

.points-wrapper {
    width: $width-100;
    height: $height-100;

    .point {
        background-color: $color-level-100-light;
    }
}

.points-wrapper-outline {
    width: $width-100;
    height: $height-100;

    .point {
        background-color: $color-level-100-dark;
    }
}

.inner,
.inner-outline {
    @include flex-center();
    @include transition($transition-duration-fast, $ease-in-out, color);
    z-index: 2;
    gap: 6px;
    position: relative;
    width: $width-100;
    padding: 1px 0;

    svg.icon {
        width: 20px;
        height: 20px;
        transition: fill 0.1s linear;
    }
}

.inner {
    color: $color-level-100-light;
}

.inner-outline {
    color: $color-level-100-dark;
}
