@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "sass:color";
@use "variable" as *;
@use "mixins" as *;

.sidebar {
    @include transition($transition-duration-base, $ease-in-out);
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-fixed-sidebar-header;
    display: flex;
    flex-direction: column;
    padding: $padding-1;
    background-color: var(--header-sidebar-bg) !important;
    border-right: 1px solid var(--border);

    .sidebar-header {
        @include flex-center();
        height: 60px;
        font-size: $font-size-3;
        margin: 0 $margin-6;
        border-bottom: 3px solid var(--border);
        color: var(--body-color);

        h1 {
            margin: 0;
            font-size: $font-size-5;
        }
    }

    .sidebar-body {
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        flex-grow: 1; //* Tự động mở rộng lấp đầy không gian còn lại
        overflow-y: auto;

        .nav-link {
            @include transition($transition-duration-base, $ease-in-out);
            display: flex;
            align-items: center;
            border-radius: $radius-md;
            padding: $padding-1;
            color: var(--body-color);

            i:first-of-type {
                @include flex-center();
                @include transition($transition-duration-base, $ease-in-out, background-color, color);
                border-radius: 9999px;
                margin-right: 8px;
                width: 25px;
                height: 25px;
            }
            //* Chọn icon cuối, trừ icon duy nhất.
            i:last-of-type:not(i:first-of-type) {
                @include transition($transition-duration-base, $ease-in-out);
            }
        }

        .nav-item {
            margin: $margin-2 $margin-4;
            font-size: $font-size-3;

            .nav-link {
                i:first-of-type {
                    background-color: var(--menu-icon-bg);
                    color: var(--menu-icon-color);
                }

                &:hover,
                &.active {
                    background-color: var(--menu-item-bg);

                    i:first-of-type {
                        background-color: var(--menu-icon-active-bg);
                        color: var(--menu-icon-active-color);
                    }
                    //* Chọn icon cuối, trừ icon duy nhất.
                    i:last-of-type:not(i:first-of-type) {
                        color: var(--menu-icon-active-bg);
                    }
                }

                &[aria-expanded="true"] {
                    background-color: var(--menu-item-bg);

                    i:first-of-type {
                        background-color: var(--menu-icon-active-bg);
                        color: var(--menu-icon-active-color);
                    }
                    //* Chọn icon cuối, trừ icon duy nhất.
                    i:last-of-type:not(i:first-of-type) {
                        color: var(--menu-icon-active-bg);
                    }
                }
            }
        }

        .submenu {
            margin-left: $margin-4;
            border-left: 2px solid var(--border);

            .nav-item {
                margin: $margin-2 0 $margin-2 $margin-2;

                .nav-link {
                    &:hover,
                    &.active {
                        background-color: var(--submenu-item-bg);

                        i {
                            background-color: var(--menu-icon-active-bg);
                            color: var(--menu-icon-active-color);
                        }
                    }

                    &[aria-expanded="true"] {
                        background-color: var(--submenu-item-bg);

                        i {
                            background-color: var(--menu-icon-active-bg);
                            color: var(--menu-icon-active-color);
                        }
                    }
                }
            }
        }
    }
}

.header {
    @include flex-between();
    @include transition($transition-duration-base, $ease-in-out);
    height: 60px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: $z-index-fixed-sidebar-header;
    padding: 0 $margin-5;
    background-color: var(--header-sidebar-bg);
    border-bottom: 1px solid var(--border);

    .header-left {
        display: flex;
        align-items: center;
        gap: $margin-3;

        .breadcrumb {
            margin-bottom: 0;
            font-size: $font-size-2;
            opacity: 0.8;

            .breadcrumb-item {
                &::before {
                    color: $color-mid-neutral;
                }
            }

            .active {
                color: $color-mid-neutral;
            }
        }

        h2 {
            margin: 0;
            font-size: $font-size-4;
            font-weight: $font-weight-4;
        }
    }

    .header-search {
        @include transition($transition-duration-base, $ease-in-out);
        flex-grow: 1; //* Tự động mở rộng lấp đầy không gian còn lại
        max-width: 350px;

        .input-group {
            @include transition($transition-duration-base, $ease-in-out);
            background-color: var(--input-bg);
            padding: $padding-1 $padding-2;
            border-radius: $radius-sm;

            input {
                background: transparent;
                border: none;
                color: inherit;

                &::placeholder {
                    color: var(--body-color);
                }

                &:focus {
                    box-shadow: none !important;
                    border: none !important;
                }
            }

            span {
                i {
                    @include transition($transition-duration-base, $ease-in-out, color, transform);
                    color: var(--body-color);
                }

                &:hover {
                    i {
                        color: var(--icon-hover);
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: $margin-3;

        .notification-icon {
            animation: shake-pause 2s infinite ease-in-out;
        }

        .setting-icon {
            animation: rotate-gear 2s infinite ease-in-out;
        }

        .translate-icon {
            animation: subtle-wobble 2s infinite ease-in-out;
        }

        .dark-mode-icon {
            animation: moon-drift 2s infinite ease-in-out;
        }

        .light-mode-icon {
            animation: sun-radiate 2s infinite ease-in-out;
        }

        .profile {
            img {
                @include transition($transition-duration-base, $ease-in-out, box-shadow, transform);
            }

            &:hover img {
                transform: scale(1.1);
                box-shadow: 1px 1px 8px $danger-color;
            }
        }

        .btn-icon {
            @include transition($transition-duration-base, $ease-in-out, transform, color);
            position: relative;
            font-size: $font-size-4;
            display: inline-block;

            &:hover {
                transform: scale(1.2) !important;
                color: var(--icon-hover);
            }
        }

        .dropdown-menu {
            background-color: var(--body-bg);
            border: 1px solid var(--border);

            .dropdown-item {
                color: var(--body-color);

                &:hover {
                    background-color: var(--header-sidebar-bg);
                }
            }
        }

        .notification {
            .badge {
                @include flex-center();
                width: 15px;
                height: 15px;
                position: absolute;
                top: -3px;
                right: -5px;
                font-size: $font-size-1;
            }

            .dropdown-item {
                &:hover {
                    background-color: none !important;
                }
            }

            .notification-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &:hover .notification-item-icon:before {
                    transform: scale(1.1);
                }

                .notification-item-icon:before {
                    @include flex-center();
                    @include transition($transition-duration-base, $ease-in-out, box-shadow, transform);
                    font-family: "Font Awesome\ 5 Free";
                    font-weight: $font-weight-5;
                    font-size: $font-size-4;
                    border-radius: $radius-full;
                    width: 30px;
                    height: 30px;
                    margin: 0 $margin-2;
                }

                .notification-item-content {
                    line-height: 25px;

                    .notification-text {
                        font-weight: $font-weight-4;
                    }

                    .notification-time {
                        font-size: $font-size-2;
                        color: $color-mid-neutral;
                    }
                }
            }

            .notification-info {
                .notification-item-icon:before {
                    content: "\f05a";
                    color: $info-color;
                    background-color: $info-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $info-color;
                }
            }

            .notification-primary {
                .notification-item-icon:before {
                    content: "\f017";
                    color: $primary-color;
                    background-color: $primary-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $primary-color;
                }
            }

            .notification-secondary {
                .notification-item-icon:before {
                    content: "\f017";
                    color: $secondary-color;
                    background-color: $secondary-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $secondary-color;
                }
            }

            .notification-warning {
                .notification-item-icon:before {
                    content: "\f071";
                    color: $warning-color;
                    background-color: $warning-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $warning-color;
                }
            }

            .notification-danger {
                .notification-item-icon:before {
                    content: "\f06a";
                    color: $danger-color;
                    background-color: $danger-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $danger-color;
                }
            }

            .notification-success {
                .notification-item-icon:before {
                    content: "\f058";
                    color: $success-color;
                    background-color: $success-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $success-color;
                }
            }

            .notification-purple {
                .notification-item-icon:before {
                    content: "\f058";
                    color: $purple-color;
                    background-color: $purple-light-color;
                }

                &:hover .notification-item-icon:before {
                    box-shadow: 0 0 12px $purple-color;
                }
            }
        }
    }
}

.loader {
    @include flex-center();
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: $width-100;
    height: $height-100;
    background-color: var(--loader-bg);
    user-select: none;

    .star {
        opacity: 0;
        fill: var(--loader-color);
        animation: star-loader 2s infinite alternate;

        &2 {
            height: 35px;
            margin-left: -10px;
            animation-delay: 0.25s;
        }

        &3 {
            height: 25px;
            margin-left: -15px;
            animation-delay: 0.5s;
        }
    }
}
