@keyframes pop-up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake-pause {
    0%, 5% {
        transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(15deg);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(15deg);
    }

    25% {
        transform: rotateZ(-15deg);
    }

    30% {
        transform: rotateZ(15deg);
    }

    35% {
        transform: rotateZ(-15deg);
    }

    40% {
        transform: rotateZ(15deg);
    }

    45% {
        transform: rotateZ(-15deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes rotate-gear {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes floating-points {
    0% {
        transform: translateY(0);
    }

    85% {
        opacity: 0;
    }

    100% {
        transform: translateY(-55px);
        opacity: 0;
    }
}

@keyframes dasharray {
    from {
        stroke-dasharray: 0 0 0 0;
    }

    to {
        stroke-dasharray: 68 68 0 0;
    }
}

@keyframes star-loader-animation {
    0%, 10% {
        opacity: 0;
        transform: translateY(0) translateX(50px) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: translateY(-20px) translateX(0) rotate(360deg);
    }
}

@mixin transition($time, $ease, $properties...) {
    $transitions: ();

    @each $prop in $properties {
        $transitions: append($transitions, #{$prop} $time $ease, comma);
    }

    @if length($transitions) > 0 {
        transition: $transitions;
    }
    @else {
        transition: all $time $ease;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin grid-span($col-span, $row-span, $col-start: null, $row-start: null) {
    grid-column: span $col-span / span $col-span;
    grid-row: span $row-span / span $row-span;

    @if $col-start {
        grid-column-start: $col-start;
    }

    @if $row-start {
        grid-row-start: $row-start;
    }
}
