@media (min-width: 992px) {
    .header {
        left: 260px !important;
    }

    .main-content {
        margin-left: 260px !important;
    }

    .offcanvas-lg {
        transform: none !important;
        visibility: visible !important;
        position: fixed !important;
    }

    .app-bar {
        display: none !important;
    }
}

@media (max-width: 1025px) {
    .header-search {
        max-width: 200px !important;
    }
}

@media (max-width: 769px) {
    .header-search {
        display: none !important;
    }

    .role {
        display: none !important;
    }

    //@ Login
    .left {
        transform: translateX(-100%) !important;
    }

    .right {
        flex: 1 1 100% !important;
        transform: translateX(0) !important;
    }
}
