//& <====================================== COLOR PROPERTIES ======================================>
$background-light: #e1dbcc;
$text-dark: #585858;
$text-tertiary: #b0a695;

$background-mid: #edeef3;
$text-primary: #776b5d;
$text-secondary: #6a6a6a;

$background-dark: #585858;
$text-light: #e3e1d9;

$border-color: #c7c8cc;
$hover-color: #f2efe5;

$success-light-color: #d4f8c4;
$warning-light-color: #ffe5a8;
$danger-light-color: #f8d4d4;
$info-light-color: #c4e3f8;
$primary-light-color: #b0a695;
$secondary-light-color: #b4b4b8;
$purple-light-color: #e0c3fc;

$success-color: #28a745;
$warning-color: #f0bd00;
$danger-color: #dc3545;
$info-color: #3d7dcf;
$primary-color: #776b5d;
$secondary-color: #6a6a6a;
$purple-color: #8a2be2;

//& <====================================== END COLOR PROPERTIES ======================================>

//& <====================================== TYPOGRAPHY PROPERTIES ======================================>
//? <====================== FONT WEIGHT ======================>
$fw-1: 100;
$fw-2: 200;
$fw-3: 400;
$fw-4: 600;
$fw-5: 800;
//? <====================== END FONT WEIGHT ======================>

//? <====================== FONT SIZE ======================>
$fs-1: 0.75rem;
$fs-2: 0.875rem;
$fs-3: 1rem;
$fs-4: 1.25rem;
$fs-5: 1.5rem;
$fs-6: 2rem;
$fs-7: 2.5rem;
//? <====================== END FONT SIZE ======================>

//? <====================== FONT FAMILY ======================>
$font-sans-serif: "Inter", "Manrope", "SF Pro Display", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
//? <====================== END LETTER SPACING ======================>

//? <====================== LETTER SPACING ======================>
$ls-tight: -0.05rem;
$ls-normal: 0rem;
$ls-wide: 0.05rem;
//? <====================== END LETTER SPACING ======================>

//? <====================== LINE HIGHT ======================>
$lh-1: 1;
$lh-2: 1.25;
$lh-3: 1.5;
$lh-4: 1.75;
$lh-5: 2;
//? <====================== END LINE HIGHT ======================>
//& <====================================== END TYPOGRAPHY PROPERTIES ======================================>

//& <====================================== SPACING PROPERTIES ======================================>
//? <====================== MARGIN ======================>
$mr-1: 0.25rem;
$mr-2: 0.5rem;
$mr-3: 0.75rem;
$mr-4: 1rem;
$mr-5: 1.5rem;
$mr-6: 2rem;
$mr-7: 2.5rem;
//? <====================== END MARGIN ======================>

//? <====================== PADDING ======================>
$pd-1: 0.25rem;
$pd-2: 0.5rem;
$pd-3: 0.75rem;
$pd-4: 1rem;
$pd-5: 1.5rem;
$pd-6: 2rem;
$pd-7: 2.5rem;
//? <====================== END PADDING ======================>
//& <====================================== END SPACING PROPERTIES ======================================>

//& <====================================== DIMENSION PROPERTIES ======================================>
//? <====================== WIDTH ======================>
$w-25: 25%;
$w-50: 50%;
$w-75: 75%;
$w-100: 100%;
$w-auto: auto;
//? <====================== END WIDTH ======================>

//? <====================== HEIGHT ======================>
$h-25: 25%;
$h-50: 50%;
$h-75: 75%;
$h-100: 100%;
$h-auto: auto;
//? <====================== END HEIGHT ======================>
//& <====================================== END DIMENSION PROPERTIES ======================================>

//& <====================================== POSITION PROPERTIES ======================================>
$z-index-1: 1020;
$z-index-2: 1040;
$z-index-3: 1080;
$z-index-4: 1160;
//& <====================================== END POSITION PROPERTIES ======================================>

//& <====================================== VISUAL EFFECT PROPERTIES ======================================>
//? <====================== EASING ======================>
$transition-fast: 0.3s;
$transition-normal: 0.5s;
$transition-slow: 0.7s;

$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
$ease-in: cubic-bezier(0.4, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.2, 1);
//? <====================== END EASING ======================>

//? <====================== SHADOW ======================>
$shadow-sm: 0 2px 6px rgba(119, 107, 93, 0.2);
$shadow-md: 0 4px 12px rgba(119, 107, 93, 0.3);
$shadow-lg: 0 6px 18px rgba(119, 107, 93, 0.4);
//? <====================== END SHADOW ======================>
//& <====================================== END VISUAL EFFECT PROPERTIES ======================================>
