@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "sass:color";
@use "base";
@use "general";
@use "layout";
@use "responsive";
@use "bootstrap-custom";
@use "mixins" as *;
@use "variable" as *;

.main-content {
    @include transition($transition-duration-base, $ease-in-out);
    margin-top: 60px;
    margin-left: 0;
    padding: 0 $padding-4;
    position: relative;

    .main-container {
        margin-top: $margin-3;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 96px);

        .filter-panel {
            max-height: 220px;
            margin-bottom: $margin-3;

            .filter-actions {
                display: flex;
                align-items: center;
                gap: $margin-2;
                flex-wrap: wrap;

                #refresh-list {
                    @include flex-center();
                    width: 30px;
                }

                #is-delete {
                    margin-right: $margin-1;
                }
            }

            #filter-inputs {
                @include scrollbar();
                overflow-x: hidden;
                margin-top: $margin-1;
            }
        }

        .table-wrapper {
            flex: 1;
            overflow: hidden;

            .table-wrapper-body {
                height: $height-100;

                .table-wrapper-main,
                .table-wrapper-secondary {
                    display: flex;
                    flex-direction: column;
                    height: $height-100;
                }

                .table-container {
                    @include scrollbar();
                    flex: 1;
                    margin-bottom: $margin-1;
                    padding-right: $margin-1;
                    overflow: auto;

                    .group-header {
                        display: flex;
                        padding-left: $padding-4;
                        font-size: $font-size-4;
                        font-weight: $font-weight-4;
                    }

                    .highlight {
                        background-color: $primary-light-color;
                    }
                }

                .pagination-container {
                    @include flex-between();
                }
            }
        }

        .ck-editor {
            display: block;

            .ck-editor__editable {
                min-height: 500px;
            }
        }

        .rating-container {
            display: flex;

            .rating {
                > label {
                    margin-right: $margin-1;
                }

                &:not(:checked) {
                    > input {
                        display: none;
                    }

                    > label {
                        float: right;
                        cursor: pointer;
                        font-size: $font-size-5;

                        > svg {
                            fill: #666;
                            transition: fill 0.3s ease;
                        }

                        &:hover,
                        &:hover ~ label {
                            > svg {
                                fill: #ff9e0b;
                            }
                        }
                    }
                }

                > input:checked ~ label > svg {
                    fill: #ffa723;
                }

                #star-1 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $danger-color !important;
                        }
                    }
                }

                #star-2 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $warning-color !important;
                        }
                    }
                }

                #star-3 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $info-color !important;
                        }
                    }
                }

                #star-4 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $success-color !important;
                        }
                    }
                }

                #star-5 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $purple-color !important;
                        }
                    }
                }

                #star-1:checked ~ label > svg {
                    fill: $danger-light-color;
                }

                #star-2:checked ~ label > svg {
                    fill: $warning-light-color;
                }

                #star-3:checked ~ label > svg {
                    fill: $info-light-color;
                }

                #star-4:checked ~ label > svg {
                    fill: $success-light-color;
                }

                #star-5:checked ~ label > svg {
                    fill: $purple-light-color;
                }
            }

            .rating-view {
                > label {
                    margin-right: $margin-1;
                }

                &:not(:checked) {
                    > input {
                        display: none;
                    }

                    > label {
                        float: right;
                        cursor: pointer;
                        font-size: $font-size-5;

                        > svg {
                            fill: #666;
                            transition: fill 0.3s ease;
                        }

                        &:hover,
                        &:hover ~ label {
                            > svg {
                                fill: #ff9e0b;
                            }
                        }
                    }
                }

                > input:checked ~ label > svg {
                    fill: #ffa723;
                }

                input.star-1 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $danger-color !important;
                        }
                    }
                }

                input.star-2 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $warning-color !important;
                        }
                    }
                }

                input.star-3 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $info-color !important;
                        }
                    }
                }

                input.star-4 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $success-color !important;
                        }
                    }
                }

                input.star-5 {
                    &:hover,
                    &:hover ~ label {
                        > svg {
                            fill: $purple-color !important;
                        }
                    }
                }

                input.star-1:checked ~ label > svg {
                    fill: $danger-light-color;
                }

                input.star-2:checked ~ label > svg {
                    fill: $warning-light-color;
                }

                input.star-3:checked ~ label > svg {
                    fill: $info-light-color;
                }

                input.star-4:checked ~ label > svg {
                    fill: $success-light-color;
                }

                input.star-5:checked ~ label > svg {
                    fill: $purple-light-color;
                }
            }
        }
    }

    .calendar-content {
        margin-top: $margin-3;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 96px);

        .calendar-wrapper {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;

            .fc-button {
                text-transform: capitalize;
                box-shadow: none !important;

                &-primary {
                    background-color: $color-mid-warm !important;
                    border-color: transparent !important;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: color.adjust($color-mid-warm, $lightness: -10%) !important;
                    }
                }
            }

            .fc-day {
                @include transition($transition-duration-fast, $ease-in-out, background-color, color);
                color: $color-level-100-dark;

                &:hover {
                    background-color: $color-level-300-dark !important;
                    color: $color-level-100-light !important;
                    cursor: pointer;

                    .fc-event {
                        color: $color-level-100-dark;
                    }
                }

                &-today {
                    background-color: $color-mid-warm !important;
                }
            }

            .fc-h-event {
                border: none;
                background-color: transparent;
                border-left: 5px solid $info-color;
                border-radius: $radius-sm;
                overflow: hidden;

                .fc-event-main {
                    padding: 2px 4px;
                    color: $color-level-100-dark;
                    font-weight: $font-weight-4;
                }
            }
        }
    }

    .dashboard-container {
        margin-top: $margin-3;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: $margin-4;

        .dashboard-banner {
            @include grid-span(8, 2, 0, 0);
            min-width: 585px;

            .dashboard-banner-container {
                @include flex-between();

                img {
                    height: 150px;
                }
            }
        }

        .quick-statistics-container {
            min-height: 150px;
        }

        .change-up {
            color: $success-color;
        }

        .change-down {
            color: $danger-color;
        }

        .value {
            color: $secondary-color;
            font-size: $font-size-4;
            font-weight: $font-weight-4;
        }

        .quick-statistics-img1,
        .quick-statistics-img2,
        .quick-statistics-img3,
        .quick-statistics-img4 {
            @include flex-center();
            height: 50px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .quick-statistics1,
        .quick-statistics2,
        .quick-statistics3,
        .quick-statistics4 {
            min-width: 150px;
        }

        .quick-statistics1 {
            @include grid-span(2, 2, 9, 0);

            .quick-statistics-img1 {
                background-color: $success-light-color;
            }
        }

        .quick-statistics2 {
            @include grid-span(2, 2, 11, 0);

            .quick-statistics-img2 {
                background-color: $warning-light-color;
            }
        }

        .quick-statistics3 {
            @include grid-span(2, 2, 9, 3);

            .quick-statistics-img3 {
                background-color: $danger-light-color;
            }
        }

        .quick-statistics4 {
            @include grid-span(2, 2, 11, 3);

            .quick-statistics-img4 {
                background-color: $info-light-color;
            }
        }

        .chart {
            @include scrollbar();
            overflow-x: hidden;
        }

        .dashboard-chart-column {
            @include grid-span(8, 4, 1, 3);
        }

        .dashboard-chart-line {
            @include grid-span(4, 2, 9, 5);
        }

        .dashboard-chart-donut {
            @include grid-span(4, 6, 0, 7);
        }

        .dashboard-chart-radar {
            @include grid-span(4, 6, 5, 7);
        }

        .service {
            @include grid-span(4, 6, 9, 7);
            max-height: 450px;

            .service-container {
                @include scrollbar();
                display: flex;
                flex-direction: column;
                gap: $margin-2;
                height: $height-100;
                overflow: auto;
                padding: $padding-2;

                .service-item {
                    @include transition(0.2s, ease-in-out);
                    flex: 1;
                    display: flex;
                    align-items: center;
                    padding: $padding-2;
                    border-radius: $radius-md;
                    font-weight: $font-weight-4;
                    color: $color-level-200-dark;

                    i {
                        @include transition(0.3s, ease-in-out);
                        margin-right: $margin-2;
                        font-size: $font-size-3;
                    }

                    &:hover {
                        transform: translateY(-3px) scale(1.01);
                        box-shadow: $shadow-sm;

                        i {
                            transform: scale(1.2) rotate(-10deg);
                        }
                    }
                }
            }
        }

        .dashboard-chart-funnel {
            @include grid-span(6, 12, 1, 13);
        }

        .dashboard-chart-slope {
            @include grid-span(6, 12, 7, 13);
        }

        .dashboard-chart-tree {
            @include grid-span(12, 10, 1, 25);
        }
    }
}
