USE [master]
GO
/****** Object:  Database [NextERP]    Script Date: 9/25/2025 8:36:48 AM ******/
CREATE DATABASE [NextERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NextERP', FILENAME = N'D:\SourceCode\ERPProject\ERPDatabase\NextERP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NextERP_log', FILENAME = N'D:\SourceCode\ERPProject\ERPDatabase\NextERP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NextERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NextERP]
GO
/****** Object:  User [tri]    Script Date: 9/25/2025 8:36:49 AM ******/
CREATE USER [tri] FOR LOGIN [tri] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[ID] [uniqueidentifier] NOT NULL,
	[AppointmentCode] [varchar](30) NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentStatus] [nvarchar](50) NOT NULL,
	[TotalCost] [decimal](18, 0) NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[ServiceID] [uniqueidentifier] NULL,
	[BranchID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[ID] [uniqueidentifier] NOT NULL,
	[AttendanceCode] [varchar](30) NULL,
	[WorkDate] [datetime] NOT NULL,
	[InTime] [datetime] NOT NULL,
	[OutTime] [datetime] NOT NULL,
	[WorkingHours] [int] NULL,
	[OvertimeHours] [int] NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[ID] [uniqueidentifier] NOT NULL,
	[BranchCode] [varchar](30) NULL,
	[BranchName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [uniqueidentifier] NOT NULL,
	[CustomerCode] [varchar](30) NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[DOB] [datetime] NULL,
	[PhoneNumber] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[JoinDate] [datetime] NULL,
	[LoyaltyPoints] [int] NULL,
	[TotalSpent] [decimal](18, 0) NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [uniqueidentifier] NOT NULL,
	[DepartmentCode] [varchar](30) NULL,
	[DepartmentName] [nvarchar](150) NULL,
	[NumberOfEmployees] [int] NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [uniqueidentifier] NOT NULL,
	[EmployeeCode] [varchar](30) NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Gender] [nvarchar](5) NULL,
	[DOB] [datetime] NULL,
	[Address] [nvarchar](500) NULL,
	[NationalID] [varchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Photo] [nvarchar](150) NULL,
	[EducationLevel] [nvarchar](50) NULL,
	[BankAccountNumber] [varchar](50) NULL,
	[HealthInsuranceNumber] [varchar](50) NULL,
	[SocialInsuranceNumber] [varchar](50) NULL,
	[TaxCode] [varchar](50) NULL,
	[HireDate] [datetime] NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[PositionID] [uniqueidentifier] NULL,
	[DepartmentID] [uniqueidentifier] NULL,
	[BranchID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [uniqueidentifier] NOT NULL,
	[FeedbackCode] [varchar](30) NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](1500) NULL,
	[DateFeedback] [datetime] NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[ServiceID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[ID] [uniqueidentifier] NOT NULL,
	[FunctionCode] [varchar](30) NULL,
	[FunctionName] [nvarchar](150) NULL,
	[URL] [varchar](500) NULL,
	[ParentFunctionID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryMails]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryMails](
	[ID] [uniqueidentifier] NOT NULL,
	[HistoryMailCode] [varchar](30) NULL,
	[HistoryMailName] [nvarchar](150) NULL,
	[HistoryMailContent] [nvarchar](500) NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[TemplateMailID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Mails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryNotifications]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryNotifications](
	[ID] [uniqueidentifier] NOT NULL,
	[HistoryNotificationCode] [varchar](30) NULL,
	[HistoryNotificationName] [nvarchar](150) NULL,
	[HistoryNotificationContent] [nvarchar](500) NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[TemplateNotificationID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[InvoiceDetailCode] [varchar](30) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[InvoiceID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[ServiceID] [uniqueidentifier] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[ID] [uniqueidentifier] NOT NULL,
	[InvoiceCode] [varchar](30) NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[InvoiceDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Discount] [decimal](18, 0) NULL,
	[FinalAmount] [decimal](18, 0) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[BranchID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[ID] [uniqueidentifier] NOT NULL,
	[LeaveRequestCode] [varchar](30) NULL,
	[RequestDate] [datetime] NULL,
	[LeaveStartDate] [datetime] NULL,
	[LeaveEndDate] [datetime] NULL,
	[TotalLeaveDays] [int] NULL,
	[LeaveDayType] [nvarchar](50) NULL,
	[ApprovalStatus] [nvarchar](50) NULL,
	[ApprovalDate] [datetime] NULL,
	[ApprovedByIDs] [varchar](500) NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [uniqueidentifier] NOT NULL,
	[PositionCode] [varchar](30) NULL,
	[PositionName] [nvarchar](150) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductCategoryCode] [varchar](30) NULL,
	[ProductCategoryName] [nvarchar](150) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductImageCode] [varchar](30) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[IsPrimary] [bit] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductCode] [varchar](30) NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[QuantityInStock] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[ExpirationDate] [datetime] NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[CountryOfOrigin] [nvarchar](50) NULL,
	[ReorderLevel] [int] NOT NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[ID] [uniqueidentifier] NOT NULL,
	[PromotionCode] [varchar](30) NULL,
	[PromotionName] [nvarchar](150) NULL,
	[DiscountPercentage] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [uniqueidentifier] NOT NULL,
	[RoleCode] [varchar](30) NULL,
	[GroupRole] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](150) NOT NULL,
	[Permissions] [nvarchar](150) NOT NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[ID] [uniqueidentifier] NOT NULL,
	[SalaryCode] [varchar](30) NULL,
	[SalaryMonth] [datetime] NULL,
	[GrossSalary] [decimal](18, 0) NULL,
	[Bonus] [decimal](18, 0) NULL,
	[TaxAmount] [decimal](18, 0) NULL,
	[InsuranceContribution] [decimal](18, 0) NULL,
	[AdvanceSalary] [decimal](18, 0) NULL,
	[Deductions] [decimal](18, 0) NULL,
	[NetSalary] [decimal](18, 0) NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Salaries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ID] [uniqueidentifier] NOT NULL,
	[ScheduleCode] [varchar](30) NULL,
	[WorkDate] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaService]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaService](
	[ID] [uniqueidentifier] NOT NULL,
	[SpaServiceCode] [varchar](30) NULL,
	[SpaServiceName] [nvarchar](150) NULL,
	[Price] [decimal](18, 0) NULL,
	[Duration] [int] NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[IsPromotional] [bit] NOT NULL,
	[SpaServiceLevel] [nvarchar](50) NULL,
	[SuppliesRequiredIDs] [varchar](500) NULL,
	[SpaServiceCategoryID] [uniqueidentifier] NULL,
	[PromotionID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaServiceCategories]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaServiceCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[SpaServiceCategoryCode] [varchar](30) NULL,
	[SpaServiceCategoryName] [nvarchar](150) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_ServiceCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaServiceImage]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaServiceImage](
	[ID] [uniqueidentifier] NOT NULL,
	[SpaServiceImageCode] [varchar](30) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[IsPrimary] [bit] NULL,
	[SpaServiceID] [uniqueidentifier] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_SpaServiceImage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierOrderDetails]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierOrderDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[SupplierOrderDetailCode] [varchar](30) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[SupplierOrderID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_SupplierOrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierOrders]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierOrders](
	[ID] [uniqueidentifier] NOT NULL,
	[SupplierOrderCode] [varchar](30) NULL,
	[OrderDate] [datetime] NULL,
	[ExpectedDeliveryDate] [datetime] NULL,
	[ActualDeliveryDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_SupplierOrders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [uniqueidentifier] NOT NULL,
	[SupplierCode] [varchar](30) NULL,
	[SupplierName] [nvarchar](150) NULL,
	[ContactName] [nvarchar](50) NULL,
	[PhoneNumber] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateMails]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateMails](
	[ID] [uniqueidentifier] NOT NULL,
	[TemplateMailCode] [varchar](30) NULL,
	[TemplateMailName] [nvarchar](150) NULL,
	[TemplateContent] [nvarchar](2000) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_TemplateMail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateNotifications]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateNotifications](
	[ID] [uniqueidentifier] NOT NULL,
	[TemplateNotificationCode] [varchar](30) NULL,
	[TemplateNotificationName] [nvarchar](150) NULL,
	[TemplateContent] [nvarchar](2000) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_TemplateNotification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSessions]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSessions](
	[ID] [uniqueidentifier] NOT NULL,
	[TrainingSessionCode] [varchar](30) NULL,
	[TrainingSessionName] [nvarchar](150) NULL,
	[Trainer] [nvarchar](50) NULL,
	[TrainingDate] [datetime] NULL,
	[Duration] [int] NULL,
	[Participants] [varchar](50) NULL,
	[TrainingMaterial] [nvarchar](50) NULL,
	[SessionStatus] [nvarchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_TrainingSessions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/25/2025 8:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[UserCode] [varchar](30) NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](500) NULL,
	[PhoneNumber] [varchar](10) NULL,
	[LastLoginDate] [datetime] NULL,
	[OperatingStatus] [nvarchar](50) NULL,
	[GroupRole] [varchar](50) NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[RoleIDs] [varchar](500) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](1500) NULL,
	[DateCreate] [datetime] NULL,
	[DateUpdate] [datetime] NULL,
	[UserCreate] [varchar](50) NULL,
	[UserUpdate] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Appointments] ([ID], [AppointmentCode], [AppointmentDate], [AppointmentStatus], [TotalCost], [CustomerID], [EmployeeID], [ServiceID], [BranchID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'607347e4-8e46-4e6e-b5c0-d7eb831a167b', N'AP50125920250905105738316', CAST(N'2025-09-05T00:00:00.000' AS DateTime), N'AppointmentBooked', NULL, NULL, NULL, NULL, NULL, 0, N'Ghi chú', CAST(N'2025-09-05T10:57:38.317' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Attendances] ([ID], [AttendanceCode], [WorkDate], [InTime], [OutTime], [WorkingHours], [OvertimeHours], [EmployeeID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'4adb2b20-c16f-4bb0-808c-f93acc1dd670', N'AT60519720250905105240916', CAST(N'2025-09-05T00:00:00.000' AS DateTime), CAST(N'2025-09-05T10:52:00.000' AS DateTime), CAST(N'2025-09-05T06:52:00.000' AS DateTime), 8, 1, NULL, 0, N'Ghi chú', CAST(N'2025-09-05T10:52:40.917' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Branches] ([ID], [BranchCode], [BranchName], [Address], [PhoneNumber], [OperatingStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'b7921c09-0ccd-4908-aa77-0beccae43a9e', N'BR31016520250910112815319', N'Tên chi nhánh', N'Địa chỉ', N'0999999999', N'Inactive', 0, N'Ghi chú', CAST(N'2025-09-10T11:28:15.320' AS DateTime), CAST(N'2025-09-13T22:30:00.570' AS DateTime), N'dev', N'dev')
INSERT [dbo].[Branches] ([ID], [BranchCode], [BranchName], [Address], [PhoneNumber], [OperatingStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'2ea5ef70-e10e-48bd-b9b3-0f5da9d22ebe', N'BR53684320250910112815320', N'Tên chi nhánh 2', N'Địa chỉ', N'1000000000', N'Active', 0, N'Ghi chú', CAST(N'2025-09-10T11:28:15.320' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[Branches] ([ID], [BranchCode], [BranchName], [Address], [PhoneNumber], [OperatingStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'4af30447-e955-42ba-8d19-e23a23cc9dd5', N'BR58721420250910112815320', N'Tên chi nhánh 3', N'Địa chỉ', N'1000000001', N'Active', 0, N'Ghi chú', CAST(N'2025-09-10T11:28:15.320' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Customers] ([ID], [CustomerCode], [FullName], [Gender], [DOB], [PhoneNumber], [Email], [JoinDate], [LoyaltyPoints], [TotalSpent], [OperatingStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'88ad39ca-2695-46f3-814f-c7a3dcbe760d', N'CU60095920250905105710996', N'Nguyễn Minh Trí', N'Male', CAST(N'2001-08-17T00:00:00.000' AS DateTime), N'0999999999', N'minhtri17081201@gmail.com', CAST(N'2025-09-05T00:00:00.000' AS DateTime), NULL, NULL, N'Active', 0, N'Ghi chú', CAST(N'2025-09-05T10:57:10.997' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Departments] ([ID], [DepartmentCode], [DepartmentName], [NumberOfEmployees], [OperatingStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'ddeccd83-a1fe-422e-8d18-bae39a3de3be', N'DE47652020250905105538386', N'Tên phòng ban 1', 100, N'Active', 0, N'Ghi chú', CAST(N'2025-09-05T10:55:38.387' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Feedbacks] ([ID], [FeedbackCode], [Rating], [Comment], [DateFeedback], [CustomerID], [ServiceID], [IsDelete]) VALUES (N'631e6911-10c4-4ae7-9bba-eb890f2499da', N'FE49609120250905105723325', NULL, N'Bình luận', CAST(N'2025-09-05T00:00:00.000' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[HistoryMails] ([ID], [HistoryMailCode], [HistoryMailName], [HistoryMailContent], [EmployeeID], [TemplateMailID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'1391bdf8-9764-4aa9-bdf9-054cd72c6cae', N'MA66532020250911164142162', N'Tên mail 7', N'Nội dung mail', NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-11T16:41:42.163' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[HistoryMails] ([ID], [HistoryMailCode], [HistoryMailName], [HistoryMailContent], [EmployeeID], [TemplateMailID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'86d93a11-a4d3-4c90-a952-075c3ecbd2b4', N'MA88192520250911102322395', N'Tên mail', N'Nội dung mail', NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-11T10:23:22.393' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[HistoryMails] ([ID], [HistoryMailCode], [HistoryMailName], [HistoryMailContent], [EmployeeID], [TemplateMailID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'f8c42f20-793a-4218-b497-09bda1aa10cd', N'MA71619120250911170057681', N'Tên mail 2', N'Nội dung mail', NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-11T17:00:57.683' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[HistoryNotifications] ([ID], [HistoryNotificationCode], [HistoryNotificationName], [HistoryNotificationContent], [EmployeeID], [TemplateNotificationID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'809179b4-f206-45d1-812f-2c433a1f30d5', N'NO52093720250911164041093', N'Tên thông báo 3', N'Nội dung thông báo', NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-11T16:40:41.093' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[HistoryNotifications] ([ID], [HistoryNotificationCode], [HistoryNotificationName], [HistoryNotificationContent], [EmployeeID], [TemplateNotificationID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'9f8d3564-7b50-46df-bfab-2e1cb1fed107', N'NO37570420250911164041093', N'Tên thông báo 10', N'Nội dung thông báo', NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-11T16:40:41.093' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[HistoryNotifications] ([ID], [HistoryNotificationCode], [HistoryNotificationName], [HistoryNotificationContent], [EmployeeID], [TemplateNotificationID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'2a3855d1-9188-4676-85d6-59c87630af22', N'NO95692420250911164041093', N'Tên thông báo 8', N'Nội dung thông báo', NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-11T16:40:41.093' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Positions] ([ID], [PositionCode], [PositionName], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'cbd847f7-090f-4307-a6c6-4203b1894265', N'PO51646020250905105407070', N'Tên chức vụ 1', 0, N'Ghi chú', CAST(N'2025-09-05T10:54:07.070' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[ProductCategories] ([ID], [ProductCategoryCode], [ProductCategoryName], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'817b11a7-d832-4474-adf4-b98f9117641c', N'PR59012020250905105906609', N'Tên danh mục sản phẩm 1', 0, N'Ghi chú', CAST(N'2025-09-05T10:59:06.610' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[ProductImage] ([ID], [ProductImageCode], [ImagePath], [IsPrimary], [ProductID], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'4cbeab51-d83f-4306-8304-11d45beecd1b', N'PR56348820250905110938166', N'20250905110938164.jpg', 0, N'2c56b0ac-59c0-4c31-b97f-c08122c227a5', NULL, CAST(N'2025-09-05T11:09:38.167' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[ProductImage] ([ID], [ProductImageCode], [ImagePath], [IsPrimary], [ProductID], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'84c8c89c-f3bb-46ef-9d71-a87c9f962017', N'PR65127520250905110938164', N'20250905110938159.jpg', 1, N'2c56b0ac-59c0-4c31-b97f-c08122c227a5', NULL, CAST(N'2025-09-05T11:09:38.163' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Promotions] ([ID], [PromotionCode], [PromotionName], [DiscountPercentage], [StartDate], [EndDate], [OperatingStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'e83a69cd-006a-47b3-802b-063c8ec5c988', N'PR71552320250905105933408', N'Tên khuyến mãi 1', 10, CAST(N'2025-09-05T00:00:00.000' AS DateTime), CAST(N'2025-09-30T00:00:00.000' AS DateTime), N'Active', 0, N'Ghi chú', CAST(N'2025-09-05T10:59:33.407' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Roles] ([ID], [RoleCode], [GroupRole], [RoleName], [Permissions], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'20eeb0a6-d5d7-414a-8cf8-c56fa2ff50fb', N'RO74652220250905105954094', N'Admin', N'Admin', N'View;Create;Edit;Delete;DeletePermanently;Import;Export', 0, N'Ghi chú', CAST(N'2025-09-05T10:59:54.093' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Schedules] ([ID], [ScheduleCode], [WorkDate], [StartTime], [EndTime], [EmployeeID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'8a5ef359-329f-4c47-81c1-b0eb97cd46f6', N'SC70961920250904143300276', CAST(N'2025-09-05T00:00:00.000' AS DateTime), CAST(N'2025-09-04T14:33:00.000' AS DateTime), CAST(N'2025-09-04T14:35:00.000' AS DateTime), NULL, 0, NULL, CAST(N'2025-09-04T14:33:00.277' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[SpaService] ([ID], [SpaServiceCode], [SpaServiceName], [Price], [Duration], [OperatingStatus], [IsPromotional], [SpaServiceLevel], [SuppliesRequiredIDs], [SpaServiceCategoryID], [PromotionID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'4fc62b39-5d2e-4c5e-bf94-0dff7664dac4', N'SP70289620250905141324961', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, 1, NULL, CAST(N'2025-09-05T14:13:24.963' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[SpaService] ([ID], [SpaServiceCode], [SpaServiceName], [Price], [Duration], [OperatingStatus], [IsPromotional], [SpaServiceLevel], [SuppliesRequiredIDs], [SpaServiceCategoryID], [PromotionID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'c63cc2f7-dc5f-4000-b87c-50b2c002ace0', N'SP74680220250905140133024', N'Tên dịch vụ 1', CAST(10000 AS Decimal(18, 0)), 10, N'Active', 0, NULL, NULL, NULL, NULL, 1, N'Ghi chú', CAST(N'2025-09-05T14:01:33.023' AS DateTime), CAST(N'2025-09-05T14:03:39.957' AS DateTime), N'dev', N'dev')
INSERT [dbo].[SpaService] ([ID], [SpaServiceCode], [SpaServiceName], [Price], [Duration], [OperatingStatus], [IsPromotional], [SpaServiceLevel], [SuppliesRequiredIDs], [SpaServiceCategoryID], [PromotionID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'12bbc0ef-b8ca-454d-9c68-697f6f328872', N'SP81588920250905144546495', N'Tên dịch vụ 1', CAST(100000 AS Decimal(18, 0)), 1, N'Active', 1, N'Basic', NULL, NULL, NULL, 0, N'Ghi chú', CAST(N'2025-09-05T14:45:46.497' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[SpaServiceCategories] ([ID], [SpaServiceCategoryCode], [SpaServiceCategoryName], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'b61ed676-b5ea-435f-92c2-8ac1bbedeab3', N'SP17033020250905105639510', N'Tên danh mục dịch vụ 1', 0, N'Ghi chú', CAST(N'2025-09-05T10:56:39.510' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[SupplierOrderDetails] ([ID], [SupplierOrderDetailCode], [Quantity], [Price], [TotalPrice], [SupplierOrderID], [ProductID], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'5c46bccd-56cc-4f22-9afe-c2f6be5c92d5', N'SU40949620250904133947119', 4, CAST(5000 AS Decimal(18, 0)), CAST(20009 AS Decimal(18, 0)), N'b7e2386a-45ed-40d7-b07a-c1eb38ea8ae1', NULL, NULL, CAST(N'2025-09-04T13:39:47.120' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[SupplierOrders] ([ID], [SupplierOrderCode], [OrderDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [TotalAmount], [OrderStatus], [PaymentStatus], [SupplierID], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'b7e2386a-45ed-40d7-b07a-c1eb38ea8ae1', N'SU41274620250904133947074', NULL, NULL, NULL, CAST(200000 AS Decimal(18, 0)), NULL, NULL, N'28a3f18b-79e4-451f-a1c1-2555b2ff2c44', 0, NULL, CAST(N'2025-09-04T13:39:47.073' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Suppliers] ([ID], [SupplierCode], [SupplierName], [ContactName], [PhoneNumber], [Email], [Address], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'28a3f18b-79e4-451f-a1c1-2555b2ff2c44', N'SU28091920250904133659624', N'CTY TNHH A', N'Nguyễn Minh A', N'0999999999', N'minhtri17081201@gmail.com', N'Địa chỉ', 0, N'Ghi chú', CAST(N'2025-09-04T13:36:59.623' AS DateTime), CAST(N'2025-09-05T13:55:39.873' AS DateTime), N'dev', N'dev')
GO
INSERT [dbo].[TemplateMails] ([ID], [TemplateMailCode], [TemplateMailName], [TemplateContent], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'89d9ecfa-2964-4f65-adba-dbb8df6f51d7', N'TE46663020250911102331191', N'Tên mẫu mail', N'Nội dung mẫu', 0, N'Ghi chú', CAST(N'2025-09-11T10:23:31.190' AS DateTime), CAST(N'2025-09-11T10:31:03.983' AS DateTime), N'dev', N'dev')
GO
INSERT [dbo].[TemplateNotifications] ([ID], [TemplateNotificationCode], [TemplateNotificationName], [TemplateContent], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'acfc9ffb-9077-46c2-b81c-0006a9442d4c', N'TE15982620250912083115088', N'Tên mẫu thông báo', N'Nội dung mẫu', 0, N'Ghi chú', CAST(N'2025-09-12T08:31:15.087' AS DateTime), CAST(N'2025-09-12T13:47:03.817' AS DateTime), N'dev', N'dev')
INSERT [dbo].[TemplateNotifications] ([ID], [TemplateNotificationCode], [TemplateNotificationName], [TemplateContent], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'b91ec82f-a82e-4046-b293-6013887e51c9', N'TE14309720250912083115089', N'Tên mẫu thông báo', N'Nội dung mẫu', 0, N'Ghi chú', CAST(N'2025-09-12T08:31:15.090' AS DateTime), NULL, N'dev', NULL)
INSERT [dbo].[TemplateNotifications] ([ID], [TemplateNotificationCode], [TemplateNotificationName], [TemplateContent], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'c89e474b-3d66-4f56-8b63-7ed246a7637f', N'TE75990120250912083115088', N'Tên mẫu thông báo', N'Nội dung mẫu', 0, N'Ghi chú', CAST(N'2025-09-12T08:31:15.090' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[TrainingSessions] ([ID], [TrainingSessionCode], [TrainingSessionName], [Trainer], [TrainingDate], [Duration], [Participants], [TrainingMaterial], [SessionStatus], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'4f822c83-9ee7-40e7-926f-fcbdac7dc022', N'TR40320120250905105448182', N'Tên đào tạo', N'Giảng viên', CAST(N'2025-09-05T00:00:00.000' AS DateTime), 10, NULL, NULL, N'SessionOngoing', 0, N'Ghi chú', CAST(N'2025-09-05T10:54:48.183' AS DateTime), NULL, N'dev', NULL)
GO
INSERT [dbo].[Users] ([ID], [UserCode], [Username], [PasswordHash], [PhoneNumber], [LastLoginDate], [OperatingStatus], [GroupRole], [EmployeeID], [CustomerID], [RoleIDs], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'00000000-0000-0000-0000-000000000000', N'US74569920250521081252', N'dev', N'80Yq8T/l6futuFI/J5qmQvQFY64Nl7PyzGPwilGMvZ2KeDcOxt5sPStSpeIyr4LW', NULL, NULL, NULL, NULL, NULL, NULL, N'00000000-0000-0000-0000-000000000000', 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([ID], [UserCode], [Username], [PasswordHash], [PhoneNumber], [LastLoginDate], [OperatingStatus], [GroupRole], [EmployeeID], [CustomerID], [RoleIDs], [IsDelete], [Note], [DateCreate], [DateUpdate], [UserCreate], [UserUpdate]) VALUES (N'37fb101b-d145-466d-b695-a831226b7f62', N'US75443320250905110021485', N'admin', N'+e3cMe0gL/VTqDIAtGlcXV0hyH/CAxJuRM1F50LPq9n4XWbvXQAKXpvtCttQoZVr', NULL, NULL, N'Active', N'Admin', N'386f0fc8-c6ea-41ce-8bdf-16c0d0befc19', NULL, N'Admin', 0, N'Ghi chú', CAST(N'2025-09-05T11:00:21.487' AS DateTime), NULL, N'dev', NULL)
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Branches]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Customers]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Employees]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[SpaService] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Services]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Branches]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Positions] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Customers]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[SpaService] ([ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Services]
GO
ALTER TABLE [dbo].[Functions]  WITH CHECK ADD  CONSTRAINT [FK_Functions_Functions] FOREIGN KEY([ParentFunctionID])
REFERENCES [dbo].[Functions] ([ID])
GO
ALTER TABLE [dbo].[Functions] CHECK CONSTRAINT [FK_Functions_Functions]
GO
ALTER TABLE [dbo].[HistoryMails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[HistoryMails] CHECK CONSTRAINT [FK_Mails_Employees]
GO
ALTER TABLE [dbo].[HistoryMails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_TemplateMails] FOREIGN KEY([TemplateMailID])
REFERENCES [dbo].[TemplateMails] ([ID])
GO
ALTER TABLE [dbo].[HistoryMails] CHECK CONSTRAINT [FK_Mails_TemplateMails]
GO
ALTER TABLE [dbo].[HistoryNotifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[HistoryNotifications] CHECK CONSTRAINT [FK_Notifications_Employees]
GO
ALTER TABLE [dbo].[HistoryNotifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_TemplateNotifications] FOREIGN KEY([TemplateNotificationID])
REFERENCES [dbo].[TemplateNotifications] ([ID])
GO
ALTER TABLE [dbo].[HistoryNotifications] CHECK CONSTRAINT [FK_Notifications_TemplateNotifications]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([ID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[SpaService] ([ID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Services]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Branches]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Employees]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employees]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_Salaries_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Salaries_Employees]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Employees]
GO
ALTER TABLE [dbo].[SpaService]  WITH CHECK ADD  CONSTRAINT [FK_Services_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([ID])
GO
ALTER TABLE [dbo].[SpaService] CHECK CONSTRAINT [FK_Services_Promotions]
GO
ALTER TABLE [dbo].[SpaService]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceCategories] FOREIGN KEY([SpaServiceCategoryID])
REFERENCES [dbo].[SpaServiceCategories] ([ID])
GO
ALTER TABLE [dbo].[SpaService] CHECK CONSTRAINT [FK_Services_ServiceCategories]
GO
ALTER TABLE [dbo].[SpaServiceImage]  WITH CHECK ADD  CONSTRAINT [FK_SpaServiceImage_SpaService] FOREIGN KEY([SpaServiceID])
REFERENCES [dbo].[SpaService] ([ID])
GO
ALTER TABLE [dbo].[SpaServiceImage] CHECK CONSTRAINT [FK_SpaServiceImage_SpaService]
GO
ALTER TABLE [dbo].[SupplierOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplierOrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[SupplierOrderDetails] CHECK CONSTRAINT [FK_SupplierOrderDetails_Products]
GO
ALTER TABLE [dbo].[SupplierOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplierOrderDetails_SupplierOrders] FOREIGN KEY([SupplierOrderID])
REFERENCES [dbo].[SupplierOrders] ([ID])
GO
ALTER TABLE [dbo].[SupplierOrderDetails] CHECK CONSTRAINT [FK_SupplierOrderDetails_SupplierOrders]
GO
ALTER TABLE [dbo].[SupplierOrders]  WITH CHECK ADD  CONSTRAINT [FK_SupplierOrders_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[SupplierOrders] CHECK CONSTRAINT [FK_SupplierOrders_Suppliers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Customers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
USE [master]
GO
