@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.ScheduleModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer Localizer

@{
    ViewData["Title"] = TableName.Schedule;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = new List<(string Title, string Url, bool IsActive)>
{
        (TableName.Schedule + "List", "", true),
    };
}

<div class="calendar-content">
    <!--& CALENDAR -->
    <section class="calendar-wrapper card" id="calendar"></section>

    <!--& MODAL -->
    <section class="modal-wrapper">
        @await Html.PartialAsync(ScreenName.Schedule.ScheduleForm, Model)
    </section>
</div>

<script>
    $(function () {
        loadSchedules();
    });

    function loadSchedules() {
        let filter = new FormData();

        $(".loader").css("display", "flex");

        callApi("@Url.Action(Constants.GetList, TableName.Schedule)", "POST", filter)
            .then(result => {
                //! FullCalendar yêu cầu bạn phải truyền vào một DOM element thật sự, không phải một jQuery object
                const calendarEl = document.getElementById("calendar");

                //? Xử lý để hiển thị đúng (cộng thêm 1 ngày tạm thời) vì Fullcalendar vẽ sự kiện không tính ngày kết thúc
                const events = result.map((event) => {
                        const formatDate = (dateStr) => {
                            const date = moment(dateStr);
                            return date.format("HH:mm:ss") === "00:00:00"
                                ? date.format("YYYY-MM-DD")
                                : date.format("YYYY-MM-DDTHH:mm:ss");
                        };

                        return {
                            ...event,
                            start: formatDate(event.start),
                            end: formatDate(moment(event.end)),
                            color: "#28a745",
                            allDay: event.allDay
                        };
                    });

                const calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: "dayGridMonth",
                    themeSystem: "bootstrap5",
                    editable: true, //? Kéo thả sự kiện
                    eventResizableFromStart: true, //? Thay đổi độ dài sự kiện
                    dayMaxEvents: true, //? Xem thêm sự kiện
                    selectable: true, //? Tạo sự kiện bằng cách chọn vùng trên lịch
                    select: function (info) {
                        const start = info.start;
                        let end = info.end;

                        end = new Date(info.end);
                        end.setDate(end.getDate() - 1);

                        const formatDateTime = (date) => {
                            const options = { hour12: false };
                            return date.toLocaleString("sv-SE", options).slice(0, 16); //? yyyy-MM-ddTHH:mm
                        };

                        $("#@TableName.Schedule #@ScheduleModel.AttributeNames.WorkDate").val(formatDateTime(start));
                        $("#@TableName.Schedule #@ScheduleModel.AttributeNames.WorkDate").val(formatDateTime(end));

                        //? Mở modal khi chọn ngày trên lịch
                        const exportModal = new bootstrap.Modal(document.getElementById("create-edit-modal"));
                        exportModal.show();
                    },
                    eventDidMount: function (info) {
                        if (info.event.allDay) {
                            const mainFrame = info.el.querySelector(".fc-event-title-container");
                            mainFrame.style.setProperty("background-color", "#d4f8c4", "important");
                        } else {
                            info.el.style.setProperty("background-color", "#d4f8c4", "important");
                        }

                        //? Thêm tooltip dùng thư viện Tippy.js
                        tippy(info.el, {
                            content: info.event.extendedProps.description,
                            allowHTML: true,
                            theme: "light",
                            animation: "shift-away",
                            delay: [100, 0],
                            placement: "top",
                        });
                    },
                    headerToolbar: {
                        left: "prev,next today",
                        center: "title",
                        right: "dayGridMonth,timeGridWeek,timeGridDay", //? Lịch theo ngày/tuần/tháng
                    },
                    events: events,
                });

                calendar.render();

                $(".loader").css("display", "none");
            })
            .catch(err => {
                showMessage("@Localizer[Messages.ErrorCallAPI]");
            });
    }
</script>